ul.nav.nav-tabs.seach {
    border-bottom: 0px solid #ddd;
}

    ul.nav.nav-tabs.seach li a {
        padding: 5px;
        color: #333333;
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        background: rgba(233, 240, 243, 0.56);
        border: 0px solid #ddd;
        margin-right: 0px;
        border-radius: 0px 0px 0 0;
    }

    ul.nav.nav-tabs.seach li.active a {
        background: none ;
        color: #fff;
    }

    ul.nav.nav-tabs.seach a span {
        display: block;
        text-align: center;
        min-height: 40px;
    }

    ul.nav.nav-tabs.seach li.active img.active {
        display: block;
        margin: 0 auto;
    }

    ul.nav.nav-tabs.seach li.active img {
        display: none;
    }

    ul.nav.nav-tabs.seach li img.active {
        display: none;
    }

    ul.nav.nav-tabs.seach li:first-child {
        border-left: none;
    }

    ul.nav.nav-tabs.seach li {
        float: left;
        letter-spacing: normal;
        width: 33.33%;
        border-left: 1px solid #FFF;
        box-sizing: border-box;
        height: 67px;
    }

.tab-content.seach {
    padding: 10px;
    background: transparent ;
    margin-top: 10px;
}

    .tab-content.seach > .active {
        padding: 10px;
        background: transparent ;
        margin-top: 10px;
    }

.selectway:before {
    border-top: 10px solid #0099ff ;
}

.selectway {
    border-bottom: #0ea8e8 ;
    color: #fff ;
    background: #0ea8e8 ;
}

    .selectway :before {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #0ea8e8;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        content: " ";
    }

.cd {
    color: #000;
}

.item-form {
    position: relative;
}

.item-form {
    padding-bottom: 20px;
    position: relative;
}

    .item-form .no-click-form {
        border-color: #0ea8e8 ;
    }

    .item-form .no-click-form {
        border: 1px solid #0ea8e8;
        background: #fff;
        box-sizing: border-box;
        padding: 0 10px 0 52px;
        height: 41px;
        width: 100%;
        font-size: 17px;
        font-family: "MyriadSetPro";
        display: block;
        line-height: 41px;
        color: #000;
        background-size: auto 100%;
        background-position: left center;
        background-repeat: no-repeat;
        position: relative;
    }

#get-diemdi:before, #get-diemdi-nn:before {
    background-image: url(../img/diemdi.png);
}

.the-field-icon:after, .pop-ticket .header-pop a, .item-form .no-click-form:before {
    background-color: #0ea8e8 ;
}

.item-form .no-click-form:before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    left: 0;
    width: 40px;
    background-size: auto 100%;
}

#get-diemden:before, #get-diemden-nn:before {
    background-image: url(../img/diemden.png);
}

#get-ngdi:before, #get-ngve:before {
    background-image: url(../img/ngaydi.png);
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.col-4 {
    width: 33.3%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

#get-nglon:before, #get-nglon-nn:before {
    background-image: url(../img/nguoilon.png);
}

#get-embe:before, #get-embe-nn:before {
    background-image: url(../img/sosinh.png);
}

#get-trem:before, #get-trem-nn:before {
    background-image: url(../img/treem.png);
}

.PaxDropDown {
    width: 100%;
    height: 95%;
    border: none;
    -webkit-appearance: none;
    padding-left: 50%;
}

.select-type span.active, .item-submit input, .list-nav-popup, .list-nav-popup ul, .tab-member li a.active, #support-footer, .form-inline p.submit input, .contact-right form input[type="submit"], .sidebar-right .widget h3, .popup-list .item-list li:hover, .item-form input[type="submit"], .button-pop, .mobile-title, .header-popup, .list-add-bonus .item-add-bonus .action-bonus a, .popup .inner-popup h3, .content-popup form input[type="submit"], body .ui-state-highlight, body .ui-widget-content .ui-state-highlight, body .ui-widget-header .ui-state-highlight {
    background: #0ea8e8 ;
}

.item-form {
    position: relative;
}

.item-form-submit {
    text-align: right;
    margin-top: 20px;
}

.item-form input[type="submit"] {
    background: #1ABC9C;
    color: #fff;
    text-transform: uppercase;
    margin-right: 14px;
    padding: 2px 80px;
    border: none;
    font-size: 17px;
    width: 100%;
    font-family: "MyriadSetPro";
}

.support {
    vertical-align: top;
}

ul.socials {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 9%;
}

.item-inline {
    text-align: center;
}

.socials li {
    display: inline-block;
    height: 25px;
    width: 35px;
}

.fbs {
    background-image: url(../img/f_footer.png);
}

.tws {
    background-image: url(../img/t_footer.png);
}

.gplus {
    background-image: url(../img/g_footer.png);
}

.yts {
    background-image: url(../img/y_footer.png);
}

.box-bottom-footer .information-footer, .box-bottom-footer .support {
    vertical-align: top;
}

.box-bottom-footer p {
    font-size: 12px;
    margin: 0 0 5px;
    color: #fff;
}

.col-12 {
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

#check-ve .item-form input[type="text"] {
    background-position: left center;
    background-repeat: no-repeat;
}

#check-email, #check-code {
    height: 90% ;
    width: 100%;
    border: none;
}

#field-check-code:before {
    background-image: url(../img/code.png);
}

#field-check-email:before {
    background-image: url(../img/emailw.png);
}

p.question-number {
    background: #F2F1F0;
    margin: 0;
    text-align: center;
    color: #000;
    padding: 10px 0;
}

.inner-content-form-ticket form p {
    margin: 0 0 20px;
    color: #fff;
    font-size: 16px;
}
