.FlightDirection {
    background-color: #f1f1f1;
    padding: 5px 7px 5px 7px;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    text-shadow: 0 1px 0 #fff;
}

    .FlightDirection .FlightItinerary {
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
    }

    .FlightDirection .FlightWarning {
        text-align: right;
        line-height: 15px;
    }

        .FlightDirection .FlightWarning img {
            margin-top: 2px;
        }

.FilghtInfo {
    padding: 10px;
}

.FilterBox {
}

    .FilterBox a {
        transition: none;
        -o-transition: none;
        -webkit-transition: none;
    }

/*ProgressBar*/
ul.ProgressBar {
    display: block;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 6px;
    padding: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    box-shadow: 0px 2px 2px rgba(202, 202, 202, 0.62);
}

    ul.ProgressBar li {
        float: left;
        float: left;
        width: 25%;
        text-align: center;
        -webkit-filter: grayscale(100%) brightness(150%); /* Chrome, Safari, Opera */
        filter: grayscale(100%) brightness(150%);
        line-height: 36px;
    }

        ul.ProgressBar li img {
            height: 36px;
            margin-right: 10px;
        }

        ul.ProgressBar li.active {
            -webkit-filter: inherit; /* Chrome, Safari, Opera */
            filter: inherit;
            text-shadow: 0 1px 0 #fff;
        }

        ul.ProgressBar li.visited {
            -webkit-filter: grayscale(0) brightness(1); /* Chrome, Safari, Opera */
            filter: grayscale(0);
            text-shadow: 0 1px 0 #fff;
        }

            ul.ProgressBar li.visited a, ul.ProgressBar li.visited a:hover {
                color: #00c307;
            }

        ul.ProgressBar li.last {
            float: right;
            margin-right: 0px;
        }

        ul.ProgressBar li a, ul.ProgressBar li a:hover {
            cursor: default;
            color: #04a7ea;
            font-size: 14px;
        }

.PaxInfo {
    padding: 10px;
    border-bottom: 1px solid #cacaca;
}

.PaxInfoContent {
}

.PaxTitle {
}

.SaveTravelBuddy {
    float: left;
    line-height: 34px;
    vertical-align: middle;
    margin-left: 10px;
}

.TravelBuddy {
    float: right;
    vertical-align: middle;
}

.SearchParamContent {
    float: left;
}

    .SearchParamContent .FlightIcon {
        float: left;
        margin-right: 15px;
    }

        .SearchParamContent .FlightIcon img {
            height: 35px;
        }

    .SearchParamContent .Itinerary {
        width: auto;
        white-space: nowrap;
    }

    .SearchParamContent .FlightDate {
        margin-top: 4px;
        text-transform: none;
        font: 13px Arial, Helvetica, sans-serif;
    }

.ScollButtonImg {
    float: right;
}

.SearchingTitle {
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.SearchingNumberPax {
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.SearchingParams {
    margin: auto;
    text-align: center;
}

.SearchingBackground {
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
}

/*Detail price table*/
.DetailPriceBox {
    padding: 5px 10px 5px 10px;
}

.TablePrice {
}

    .TablePrice .ItemHeader {
        font-weight: bold;
        line-height: 20px;
        padding-top: 5px;
    }

    .TablePrice .ItemPrice {
        color: #fb7604;
        text-align: right;
        font-weight: bold;
        line-height: 20px;
        padding-top: 0px;
    }

.TotalPriceBox {
    border-top: 1px solid #cacaca;
    padding: 10px;
    text-align: right;
}

    .TotalPriceBox .GrandTotalPrice {
        color: #fb7604;
        font-weight: bold;
        font-size: 20px;
    }


/*FlightDetail*/
.FlightDetail {
    display: none;
}

.ItineraryBox {
    padding: 10px;
}

.ItineraryBox-Carrier {
    width: 15%;
    text-align: center;
    vertical-align: middle;
}

    .ItineraryBox-Carrier .CarrierLogo {
    }

        .ItineraryBox-Carrier .CarrierLogo img {
            max-height: 30px;
            max-width: 80px;
        }

    .ItineraryBox-Carrier .CarrierName {
        font-size: 11px;
        margin-top: 3px;
        line-height: 12px;
    }

.ItineraryBox-Depart {
    padding-right: 10px;
    vertical-align: middle;
    text-align: right;
    width: 175px;
}

.ItineraryBox-Arrival {
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
    width: 222px;
}

    .ItineraryBox-Depart .City, .ItineraryBox-Arrival .City {
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }

    .ItineraryBox-Depart .Airport, .ItineraryBox-Arrival .Airport {
        font-size: 11px;
    }

    .ItineraryBox-Depart .Hour, .ItineraryBox-Arrival .Hour {
        font-weight: bold;
        font-size: 15px;
        color: #fb7604;
    }

    .ItineraryBox-Depart .Date, .ItineraryBox-Arrival .Date {
    }

.ItineraryBox-Direct {
    width: auto;
    text-align: center;
    font-size: 12px;
}

    .ItineraryBox-Direct .ItineraryBox-Direct-Picture {
        height: 12px;
    }

    .ItineraryBox-Direct .ItineraryBox-FlightInfo-Title {
    }

.ItineraryBox-FlightInfo {
    width: 15%;
    font-size: 11px;
    line-height: 14px;
    vertical-align: middle;
}

    .ItineraryBox-FlightInfo .Airlines {
        display: none;
    }

    .ItineraryBox-FlightInfo .FltNum {
    }

    .ItineraryBox-FlightInfo .FltTime {
    }

    .ItineraryBox-FlightInfo .Class {
    }

    .ItineraryBox-FlightInfo .Plane {
    }


/*Stop*/
.StopInfo { /* border-top: 1px solid #E2E2E2; */ /* border-bottom: 1px solid #E2E2E2; */
    padding: 2px;
    background-color: #FFF6D0;
    text-align: center;
}

    .StopInfo img {
        margin-top: 2px;
    }

.NonRefundMessage {
    float: right;
    padding-right: 10px;
    font-weight: normal;
}

    .NonRefundMessage img {
        margin-top: 2px;
    }

/*Common*/
.WhiteBox {
    border: 1px solid #cacaca;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(202, 202, 202, 0.62);
    margin-bottom: 15px;
}

.Currency {
    color: #666666;
    font-weight: bold;
    font-size: 10px;
}

.details {
    background-position: right center;
    padding: 0px 15px 0px 0px;
    background-image: url('/Content/FontEnd/SeachValue/Styles/detail_arrow.png');
    cursor: pointer;
    text-decoration: none;
    background-repeat: no-repeat;
}

.details_selected {
    background-position: right center;
    padding: 0px 15px 0px 0px;
    background-image: url('/Content/FontEnd/SeachValue/Styles/detail_arrow_s.png');
    cursor: pointer;
    text-decoration: none;
    background-repeat: no-repeat;
}

.TextBox {
    margin-bottom: 5px;
    height: 35px;
    background: #fff;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #4D4D4D;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font: 300 16px/22px sans-serif;
    padding: 6px 12px 7px;
    margin-right: 10px;
    /*border-radius: 3px;*/
    width: 100%;
    height: 35px !important;
    padding-left: 5px !important;
}


.TextTitle {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #febf2b;
    /*background: url(../images/marker.png) 0 10px no-repeat;*/
    /*padding-left: 12px;*/
    line-height: 18px;
}

.TextTitleDown {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #febf2b;
    background: url(../images/marker_down.png) 0 11px no-repeat;
    padding-left: 12px;
}

.Validator {
    font-size: 11px;
    color: red;
    line-height: 11px;
}

.Line35 {
    line-height: 35px;
    vertical-align: middle;
}

.Pad10 {
    padding: 10px;
}

.Pad5 {
    padding: 5px;
}

.NoBottom {
    border-bottom: 0 !important;
}

.NoTop {
    border-top: 0 !important;
}

.BorderTop {
    border-top: 1px solid #cacaca;
}

.BorderBottom {
    border-bottom: 1px solid #cacaca;
}

.FloatLeft {
    float: left;
}

.FloatRight {
    float: right;
}

.BaggagesTitle {
    width: 200px;
    float: left;
}

.BoxRequiredAcceptTerm {
    float: left;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ItemPrice {
    color: #fb7604;
    text-align: right;
    font-weight: bold;
    line-height: 20px;
    padding-top: 0px;
}

.GrandTotalPrice {
    color: #fb7604;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-left: 10px;
}

.DropDownPax {
    float: left;
}

/*Sorting*/
.SortBar {
    padding: 5px;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    font-weight: bold;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

.SortIcon {
    opacity: .4;
    margin-right: 10px;
    margin-left: 5px;
}

ul.Sorting {
}

    ul.Sorting li {
        float: left;
    }


.SortLink {
    padding: 0px 14px 0px 20px;
    display: inline-block;
    text-decoration: none;
    /*font-size:14px;*/
}

.Ascending {
    font-weight: bold;
    text-decoration: none;
    /*padding-right: 14px;*/
    background-image: url(/Styles/Images/sort_arrows_ascending.gif);
    background-position: right;
    background-repeat: no-repeat;
    color: #febf2b;
}

.Descending {
    font-weight: bold;
    text-decoration: none;
    /*padding-right: 14px;*/
    background-image: url(/Styles/Images/sort_arrows_descending.gif);
    background-position: right;
    background-repeat: no-repeat;
    color: #febf2b;
}


a.continue-button {
    text-transform: uppercase;
    position: relative;
    background-color: #002C5A;
    color: #fff;
    padding: 7px 55px 7px 15px;
    font: bold 16px/17px sans-serif;
    border-radius: 3px;
}

    a.continue-button:hover {
        color: #fff;
        background-color: #dcdcdc;
    }

        a.continue-button:hover:after {
            background-color: #febf2b;
        }

    a.continue-button:after {
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        top: 0;
        bottom: 0;
        width: 33px;
        right: 0px;
        background-color: #2d6c9c;
        content: '';
        position: absolute;
        text-align: center;
        line-height: 33px;
        font-weight: normal;
        font-family: 'FontAwesome';
        border-radius: 0px 3px 3px 0px;
    }

a.select-button {
    position: relative;
    background-color: #04a7ea;
    color: #fff;
    padding: 7px 47px 7px 15px;
    border-radius: 3px 3px 3px 3px;
}

    a.select-button:hover {
        color: #fff;
        background-color: #dcdcdc;
    }

        a.select-button:hover:after {
            background-color: #febf2b;
        }

    a.select-button:after {
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        top: 0;
        bottom: 0;
        width: 30px;
        right: 0px;
        content: '';
        position: absolute;
        text-align: center;
        line-height: 30px;
        font-weight: normal;
        font-family: 'FontAwesome';
        border-radius: 0px 3px 3px 0px;
        background: #005799;
        color: #FFF;
        background: linear-gradient(180deg, #005799 0, #0a175d);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005799), color-stop(1, #0a175d));
        background-image: -o-linear-gradient(bottom, #005799 0%, #0a175d 100%);
        background-image: -moz-linear-gradient(bottom, #005799 0%, #0a175d 100%);
        background-image: -webkit-linear-gradient(bottom, #005799 0%, #0a175d 100%);
        background-image: -webkit-linear-gradient(bottom, #005799 0%, #0a175d 100%);
    }


#ResultRight table, td {
    vertical-align: middle;
}

.PriceCol1 {
}

.PriceCol2 {
}

.PriceCol3 {
}

.PriceCol4 {
}

.PriceCol5 {
}

.PriceCol6 {
}

.BaggagesCol1 {
}

.BaggagesCol2 {
}

.BaggagesCol3 {
}

.BaggagesCol4 {
}

#FlightSearchBox {
}

.BasketFlight {
    font-size: 12px;
    padding: 0px 10px 10px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

    .BasketFlight .BasketFlightDepart {
        padding: 5px;
        width: 50%;
        border-right: 1px dotted #cacaca;
        text-align: left;
    }

    .BasketFlight .BasketFlightArrive {
        padding: 5px;
        width: 50%;
        text-align: right;
    }

    .BasketFlight .BasketFlightTime {
        font-size: 18px;
    }

/*#stuck_container {
    position: relative !important;
    box-shadow: none;
}*/

.pseudoStickyBlock {
    height: 0 !important;
}

.isStuck {
    background-color: #fff;
}

/*Passengers placeholder*/
.placeholder {
    float: left;
    margin-right: 15px;
}

    .placeholder .control-intro {
        clear: both;
        position: relative;
    }

.gender {
    width: 100px;
}

.first-name {width: 324px;}

.last-name {
    width: 300px;
}

.birthday {
    width: 150px;
}

.baggage {
    width: 250px;
}

.contact-title {
    width: 100px;
}

.contact-full-name {
    width: 250px;
}

.contact-phone {
    width: 250px;
}

.contact-email {
    width: 365px;
}

.contact-address {
    width: 430px;
}

.contact-note {
    width: 100%;
}

.invoice {
    width: 250px;
}

/*::-webkit-input-placeholder {
    color: white;
    text-overflow: ellipsis;
}

:-moz-placeholder {
    color: white !important;
    text-overflow: ellipsis;
}

::-moz-placeholder {
    color: white !important;
    text-overflow: ellipsis;
}

:-ms-input-placeholder {
    color: white !important;
    text-overflow: ellipsis;
}*/

.trackbar-value-text {
    font-size: 11px;
    text-align: center;
}

/*Booking confirmation*/
.BookingOrder {
    color: #577f9f;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #828282;
    padding: 6px 0px 5px 6px;
    font-size: 15px;
}

.BookingCodeBox {
    font-size: 20px;
    color: #00c307;
    font-weight: bold;
    text-transform: uppercase;
    /*margin-top: 13px;*/
    background: url('/Styles/Images/ok.png') no-repeat left;
    padding: 5px 5px 5px 33px;
}

.BookingCodeDepart {
    margin-top: 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}

.BookingCodeReturn {
    margin-top: 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}

.BookingCodeAirline {
    border-bottom: 1px dotted #CACACA;
    font-size: 12px;
}

.BookingCodeContent {
    text-align: center;
    padding-top: 10px;
}

.BookingDeadlineMessage {
    padding-top: 10px;
    line-height: 17px;
    font-size: 12px;
    text-align: justify;
}

.BookingDeadline {
    text-align: center;
    font-weight: bold;
    color: #F60202;
    font-size: 15px;
}

.OrderCode {
    color: #00c307;
}

.MessageContent {
    padding: 10px;
    line-height: 22px;
}

.BookingCode {
    color: #04A7EA;
}

.MessageContainer {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
}

.BookingCodeContainer {
    float: right;
    width: 30%;
    right: 0;
    border-left: 1px dotted #828282;
    padding: 10px;
    /*border-radius: 0px 6px 6px 0px;*/
    /*background: #f5f5f5;*/
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-shadow: 0 1px 0 #fff;
}

.BookingCodeContainerRight {
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    background: #f5f5f5;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 10px;
}

.PlatingCarrier {
    float: left;
}

/*Filter mobile*/
#Filter {
    margin-bottom: 20px;
}

#pnShowFilter {
    position: fixed;
    bottom: 0;
    z-index: -1;
    color: #fff;
    cursor: pointer;
    height: 0px;
    right: 100%;
}

.LeftContent {
    display: none;
}

.FullWidth {
    width: 100%;
}

 .plane-window {
        width: 599px;
        height: 155px;
        background-image: url(/Content/FontEnd/images/blue-sky.jpg);
        background-size: 100%;
        background-repeat: repeat-x;
        animation: gangham 200s steps(6500,start) infinite;
        animation-direction: normal, alternate;
        margin: auto;
        top: 25%;
        position: relative;
    }

    .plane-window img {
        /*width: 600px;*/
    }

.PromoMessage {
    font-size: 11px;
    font-weight: normal;
    color: red;
}

    .PromoMessage a {
        color: red;
    }

.PromoMessageGlobal {
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
    color: red;
    text-transform: none;
    /* clear: both; */
    padding-left: 5px;
    padding-top: 4px;
    float: left;
}

#basket-right {
    /*margin-bottom: 10px;*/
    float: right;
}

.filter-airline-logo {
    margin-right: 5px;
}

.filer-group {
    padding: 10px;
    border-bottom: 1px solid #cacaca;
}

.no-bottom {
    border-bottom: none;
}

.SelectDate {
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 12px;
    background: #ffffff;
}

    .SelectDate .NearDate {
        /*padding: 5px;
        float: left;
        text-align: center;
        width: 11.11%;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-left: 1px dotted #cacaca;*/
    }

        .SelectDate .NearDate:hover {
            border-bottom: 1px solid #fbb72b;
        }

    .SelectDate .NotAllow {
        cursor: not-allowed;
        text-decoration: none;
        color: #B9B9B9;
    }

    .SelectDate .CurrentDate {
        background: #f5f5f5;
        border-bottom: 1px solid #fbb72b;
    }

    .SelectDate .PreviousWeek {
        font-size: 10px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .SelectDate .NextWeek {
        font-size: 10px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        float: right;
    }

        .SelectDate .PreviousWeek a, .SelectDate .NextWeek a {
            /*color: inherit;*/
        }

    .SelectDate .NearDate .price {
        font-weight: bold;
        color: #fb7604;
    }

    .SelectDate .NotAllow .price {
        font-weight: bold;
        color: #B9B9B9;
    }

.required {
    color: red;
    font-size: 15px;
}

.RadCalendar a {
    outline: none;
    transition: none;
    -o-transition: none;
    -webkit-transition: none;
}

.RadPicker_MetroTouch .rcCalPopup, .RadPicker_MetroTouch .rcTimePopup {
    width: 33px !important;
    height: 33px !important;
}

.RadDatePicker {
    margin-bottom: 5px;
}

.contact-info {
    float: left;
    width: 50%;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.payment-info {
    float: left;
    width: 50%;
    padding-left: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.flight-summary {
    padding: 0px 10px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #cacaca;
}

    .flight-summary.depart {
        background: #fffef3;
        position: relative;
    }

    .flight-summary.return {
        background: #f2fbff;
        position: relative;
    }

/*Fare rule*/
.fare-rule-content {
    padding: 20px !important;
    max-height: 300px;
    overflow: auto;
    line-height: 18px;
    font-family: monospace;
}

.rule-info-title {
    color: #fa0017;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.rule-info-text-data {
    padding: 10px;
    background: #dcdcdc;
}

.rule-info-text {
    white-space: pre-wrap;
}

.chart-tab-header img {
}

.chart-tab-header .chart-tab-header-title {
    line-height: 25px;
    padding-left: 10px;
}

@keyframes gangham {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -5175px 0;
    }
}

@media only screen and (max-width:1199px) {
    .LeftContent {
        display: block;
    }

    #grid_9_left {
        width: 940px;
    }

    .continue {
        width: 250px;
    }

    .basket-left {
        width: 940px;
    }

    .basket-right {
        width: 940px;
    }

    #FlightSearchBox {
        display: none;
    }

    .BasketFlight {
        float: left;
        border-top: none;
        font-size: 13px;
        width: 100%;
    }
    .GrandTotalPrice {
       
        font-size: 13px;
       
    }
    .search-box-wrapper.style1 .search-tab-content .search-content label {
        font-size: 8px;
    }
    .TextTitle {
       
        font-size: 11px;
     
    }
    .BasketPrice {
        /* float: left; */
        border-top: none;
        width: 100%;
        font-size: 10px;
    }

    .contact-title {
        width: 150px;
    }

    .contact-full-name {
        width: 250px;
    }

    .contact-phone {
        width: 150px;
    }

    .contact-email {
        width: 365px;
    }

    .contact-address {
        width: 365px;
    }

    .contact-note {
        width: 100%;
    }

    /*Filter mobile*/
    #Filter {
        display: block;
        /*width: 50%;*/
        height: 100%;
        top: 0;
        /*position: fixed;*/
        margin: auto;
        z-index: 999;
        margin-bottom: 0px;
        overflow: hidden;
        /*left: 100%;*/
        /*transition-property: left;
        transition-duration: 0.3s;
        -webkit-transition-property: left;
        -webkit-transition-duration: 0.3s;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        background-color: #F5F5F5;
        box-shadow: 0 5px 10px rgba(55, 55, 55, 0.4);*/
    }
    .filter-airline-logo {
       
        width: 20px;
       
    }
    #sp-step .sps-block {
        width: 20% !important;
        display: inline-block;
        height: 60px;
        padding: 15px 45px;
        text-align: left;
        line-height: 1.2em;
        font-size: 10px !important;
    }
        #Filter.show {
            left: 50%;
            transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
        }

        #Filter .box_top {
            text-transform: uppercase;
            font-weight: normal;
            padding: 10px;
            background-color: #F5F5F5;
            font-size: 12px;
            line-height: 18px;
            border-radius: 0px;
            /*color: #717171;*/
            box-shadow: 0 2px 10px rgba(183, 183, 183, 0.85);
            border-bottom: 1px solid #C1C1C1;
            position: relative;
            clear: both;
            /*text-align: center;*/
        }

    #pnShowFilter {
        padding-top: 4px;
        padding-left: 50px;
        background: url('/Styles/Images/filter.png') no-repeat;
        background-size: 181px 50px;
        position: fixed;
        bottom: 0;
        z-index: 999;
        color: #fff;
        cursor: pointer;
        height: 50px;
        width: 131px;
        transition-property: right;
        transition-duration: 0.3s;
        -webkit-transition-property: right;
        -webkit-transition-duration: 0.3s;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        right: calc(100% - 181px);
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

        #pnShowFilter.hide {
            right: 100%;
        }

        #pnShowFilter.show {
            right: calc(100% - 181px);
            transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
        }

        #pnShowFilter .pnShowFilter-line1 {
            font-size: 14px;
        }

        #pnShowFilter .pnShowFilter-line2 {
            font-size: 12px;
        }

    .FilterBox {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }

    .GrandPrice {
        border-top: 1px solid #cacaca;
    }

    #confirm-right {
        /*display: none;*/
    }

    #basket-right {
    }
}

@media only screen and (max-width:979px) {
    .LeftContent {
    }

    #grid_9_left {
        width: 748px;
    }

    .ItineraryBox {
        padding: 5px;
    }

    .ItineraryBox-Carrier {
        width: 60px;
        text-align: center;
        padding-right: 10px;
        padding-left: 5px;
        vertical-align: middle;
    }

        .ItineraryBox-Carrier .CarrierLogo {
        }

            .ItineraryBox-Carrier .CarrierLogo img {
                max-height: 20px;
                max-width: 60px;
            }

        .ItineraryBox-Carrier .CarrierName {
            font-size: 11px;
            margin-top: 3px;
            line-height: 11px;
        }

    .ItineraryBox-Depart {
        width: 150px;
        padding-left: 10px;
        vertical-align: middle;
    }

    .ItineraryBox-Arrival {
        width: 150px;
        padding-left: 10px;
        vertical-align: middle;
    }

    .ItineraryBox-Direct {
    }

        .ItineraryBox-Direct .ItineraryBox-FlightInfo-Title {
        }

    .ItineraryBox-FlightInfo {
        width: auto;
        font-size: 11px;
        line-height: 14px;
        padding-left: 20px;
        vertical-align: middle;
    }

        .ItineraryBox-FlightInfo .Airlines {
            display: none;
        }

        .ItineraryBox-FlightInfo .FltNum {
        }

        .ItineraryBox-FlightInfo .FltTime {
        }

        .ItineraryBox-FlightInfo .Class {
        }

        .ItineraryBox-FlightInfo .Plane {
        }

    .ItineraryBox-Depart .City, .ItineraryBox-Arrival .City {
        color: #577f9f;
        font-size: 15px;
        font-weight: bold;
    }

    .ItineraryBox-Depart .Airport, .ItineraryBox-Arrival .Airport {
    }

    .basket-left {
        width: 748px;
    }

    .basket-right {
        width: 748px;
    }

    .BasketFlight {
        float: left;
        border-top: none;
        font-size: 12px;
        width: 220px;
    }

    .BasketPrice {
        float: left;
        border-top: none;
        width: 230px;
    }

    .GrandPrice {
        border-top: 1px solid #cacaca;
    }

    .SortBar {
        font-size: 12px;
    }
}

@media only screen and (max-width:767px) {
    .LeftContent {
        display: inherit;
    }

    #grid_9_left {
        width: 100%;
    }

    .FlightDirection {
        background-color: rgb(245, 245, 245);
        padding: 7px;
        height: auto;
    }

        .FlightDirection .FlightItinerary {
            float: none;
            line-height: inherit;
            vertical-align: middle;
            font-size: 12px;
            font-weight: bold;
        }

        .FlightDirection .FlightWarning {
            display: none;
        }

    .FilghtInfo {
        padding: 5px;
    }

    /*FlightDetail*/
    .FlightDetail {
        display: none;
    }

    .ItineraryBox {
        padding: 5px;
    }

    .SearchingTitle {
        padding-top: 20px;
    }

    .SearchingNumberPax {
    }

    .SearchingParams {
    }

    .ItineraryBox-Carrier {
        width: 50px;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        vertical-align: middle;
    }

        .ItineraryBox-Carrier .CarrierLogo {
        }

            .ItineraryBox-Carrier .CarrierLogo img {
                max-height: 20px;
                max-width: 50px;
            }

        .ItineraryBox-Carrier .CarrierName {
            /*display: none;*/
            line-height: 13px;
        }

    .ItineraryBox-Depart {
        width: auto;
        padding-left: 10px;
        vertical-align: middle;
    }

    .ItineraryBox-Arrival {
        width: auto;
        padding-left: 10px;
        vertical-align: middle;
    }

    .ItineraryBox-Direct {
    }

        .ItineraryBox-Direct .ItineraryBox-FlightInfo-Title {
            display: none;
        }

        .ItineraryBox-Direct .ItineraryBox-Direct-Picture {
            height: 5px;
        }

    .ItineraryBox-FlightInfo {
        /*display: none;*/
        padding-left: 10px;
    }

        .ItineraryBox-FlightInfo .Airlines {
            display: none;
        }

        .ItineraryBox-FlightInfo .FltNum {
        }

        .ItineraryBox-FlightInfo .FltTime {
        }

        .ItineraryBox-FlightInfo .Class {
            display: none;
        }

        .ItineraryBox-FlightInfo .Plane {
            display: none;
        }

    .ItineraryBox-Depart .City, .ItineraryBox-Arrival .City {
        color: #577f9f;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
    }

    .ItineraryBox-Depart .Airport, .ItineraryBox-Arrival .Airport {
        display: none;
    }

    .ItineraryBox-Detail {
    }

    .PaxInfo {
        padding: 10px;
        border-bottom: 1px solid #cacaca;
    }

    .PaxInfoContent {
        padding-left: 0px;
    }

    .PaxTitle {
        float: left;
    }

    .SaveTravelBuddy {
        float: left;
        line-height: 34px;
        vertical-align: middle;
        margin-left: 0px;
    }

    .TravelBuddy {
        float: left;
        width: 100%;
        line-height: 34px;
        vertical-align: middle;
    }


    .TextBox {
        width: 100% !important;
    }

    .DropDown {
        width: 100% !important;
    }

    .DropDownPax {
        margin-bottom: 5px;
        height: 35px;
        float: left;
        /*box-sizing: border-box;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;*/
        color: #a3a3a3;
        border: 1px solid #dbdbdb;
        font: 300 16px/22px sans-serif;
        border: none;
        padding: 6px 12px 7px;
        box-shadow: inset 0 0 3px #999;
        margin-right: 10px;
        width: 100% !important;
    }

    .SearchParamContent {
        float: left;
    }

        .SearchParamContent .FlightIcon {
            display: none;
        }

        .SearchParamContent .Itinerary {
        }

        .SearchParamContent .FlightDate {
            font-size: 12px;
        }

    .ScollButtonImg {
        display: none;
    }

    .PriceCol1 {
        display: none;
    }

    .PriceCol2 {
    }

    .PriceCol3 {
        display: none;
    }

    .PriceCol4 {
    }

    .PriceCol5 {
    }

    .PriceCol6 {
    }

    .BaggagesCol1 {
        display: none;
    }

    .BaggagesCol2 {
    }

    .BaggagesCol3 {
    }

    .BaggagesCol4 {
    }

    .SortBar {
    }

    .SortLink {
        padding: 0px 14px 0px 10px;
        font-size: 12px;
    }

    #FlightSearchBox {
        display: none;
    }

    #Basket {
        /*display: none;*/
    }

    .BasketFlight {
        width: 100%;
        float: none;
    }

    .BasketPrice {
        float: none;
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-box-sizing: border-box; /*Firefox 1-3*/
        -webkit-box-sizing: border-box; /* Safari */
        border-top: 1px solid #cacaca;
    }

    .Currency {
        /*display: none;*/
    }

    .StopInfo {
        font-size: 11px;
    }


    /*ProgressBar*/
    ul.ProgressBar {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px 0px;
    }

        ul.ProgressBar li {
            width: 100%;
            display: none;
        }

            ul.ProgressBar li img {
                height: 36px;
                margin-right: 10px;
            }

            ul.ProgressBar li.active {
                -webkit-filter: inherit; /* Chrome, Safari, Opera */
                filter: inherit;
                text-shadow: 0 1px 0 #fff;
                display: block;
            }

            ul.ProgressBar li.visited {
                -webkit-filter: grayscale(0) brightness(1); /* Chrome, Safari, Opera */
                filter: grayscale(0);
                text-shadow: 0 1px 0 #fff;
            }

                ul.ProgressBar li.visited a, ul.ProgressBar li.visited a:hover {
                    color: #00c307;
                }

            ul.ProgressBar li.last {
                margin-right: 0px;
                background: none;
                float: none;
            }

    .basket-left {
        width: auto;
    }

    .basket-right {
        width: auto;
    }

    .continue {
        width: 100%;
    }

    /*Passengers placeholder*/
    .placeholder {
        float: left;
        margin-right: 0px;
    }

        .placeholder .control-intro {
            display: none;
        }

    .gender {
        min-width: 90px;
    }

    .first-name {
        width: calc(100% - 110px);
        margin-left: 10px;
    }

    .last-name {
        width: 100%;
    }

    .birthday {
        width: 100%;
    }

    .baggage {
        width: 100%;
    }

    .contact-title {
        width: 60px;
    }

    .contact-gender {
        min-width: 90px;
    }

    .contact-full-name {
        width: calc(100% - 110px);
        margin-left: 10px;
    }

    .contact-phone {
        width: 100%;
    }

    .contact-email {
        width: 100%;
    }

    .contact-address {
        width: 100%;
    }

    .contact-note {
        width: 100%;
    }

    .invoice {
        width: 100%;
    }

    ::-webkit-input-placeholder {
        color: #cacaca;
        text-overflow: ellipsis;
    }

    :-moz-placeholder {
        color: #cacaca !important;
        text-overflow: ellipsis;
    }

    ::-moz-placeholder {
        color: #cacaca !important;
        text-overflow: ellipsis;
    }
    /* for the future */
    :-ms-input-placeholder {
        color: #cacaca !important;
        text-overflow: ellipsis;
    }

    /*Booking confirmation*/
    .BookingOrder {
        font-size: 15px;
        color: #577f9f;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }

    .BookingCodeBox {
        font-size: 15px;
        color: #88D120;
        font-weight: bold;
        text-transform: uppercase;
        background: url('/Styles/Images/ok.png') no-repeat left;
        padding: 5px 5px 5px 33px;
    }

    .OrderCode {
        /*color: rgb(251, 183, 22);*/
    }

    .BookingCode {
        /*color: #04A7EA;*/
    }

    .PlatingCarrier {
        display: none;
    }

    .MessageContainer {
        float: none;
        width: 100%;
        height: auto !important;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 14px;
    }

    .BookingCodeContainer {
        float: none;
        width: 100%;
        height: auto !important;
        position: inherit;
        border-left: none;
        border-top: 1px dotted #828282;
        border-radius: 0px 0px 6px 6px;
        padding: 10px;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    a.select-button {
        position: relative;
        background-color: #04a7ea;
        color: #fff;
        padding: 7px 15px;
        border-radius: 3px 3px 3px 3px;
    }

        a.select-button:hover {
            color: #fff;
            background-color: #dcdcdc;
        }

            a.select-button:hover:after {
                display: none;
            }

        a.select-button:after {
            display: none;
        }

    /*Filter mobile*/
    #Filter {
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        margin: auto;
        background-color: #F5F5F5;
        z-index: 999;
        margin-bottom: 0px;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        display: block;
    }

        #Filter.show {
            left: 0;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        #Filter .box_top {
            text-transform: uppercase;
            font-weight: normal;
            padding: 10px;
            background-color: #F5F5F5;
            font-size: 18px;
            line-height: 18px;
            border-radius: 0px;
            color: #717171;
            box-shadow: 0 2px 10px rgba(183, 183, 183, 0.85);
            border-bottom: 1px solid #C1C1C1;
            position: relative;
            text-align: center;
        }

    #pnShowFilter {
        padding-top: 4px;
        padding-left: 50px;
        background: url('/Styles/Images/filter.png') no-repeat;
        background-size: 181px 50px;
        position: fixed;
        bottom: 0;
        right: calc(100% - 181px);
        z-index: 999;
        color: #fff;
        cursor: pointer;
        height: 50px;
        width: 131px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(0, 0, 0);
    }

        #pnShowFilter.hide {
            right: 100%;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        #pnShowFilter.show {
            right: calc(100% - 181px);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        #pnShowFilter .pnShowFilter-line1 {
            font-size: 14px;
        }

        #pnShowFilter .pnShowFilter-line2 {
            font-size: 12px;
        }

    .FilterBox {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }

    .trackbar-value-text {
    }

    .plane-window {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 30px;
        background-size: 100%;
    }

        .plane-window img {
            /*width: 100%;*/
        }

    .chart-tab-header img {
        height: 30px;
        padding-right: 0px;
        display: none;
    }

    .chart-tab-header .chart-tab-header-title {
        /*display: none;*/
    }

    .PromoMessage {
        display: none !important;
    }

    #basket-right {
        float: none;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: .5em 1em;
    }

    #pnSlider {
        padding-bottom: 50px;
    }

    .SelectDate .NearDate {
        width: 33% !important;;
    }

    .SelectDate .Day1, .Day2, .Day5, .Day6 {
        display: none;
    }

    .SelectDate .PreviousWeek {
        display: none;
    }

    .SelectDate .NextWeek {
        display: none;
    }

    .required {
        display: none;
    }

    .contact-info {
        float: none;
        width: 100%;
        padding-right: 0px;
        margin-bottom: 10px;
    }

    .payment-info {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
}
strong.col2 {
    color: #577f9f;
}
div#SearchParamDomesticReturn {
    height: 55px;
}
.FreezeBoxNoShadow {
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 270px;
    margin-top: 0px;
}
.text1 {
    color: #577f9f;
    margin-bottom: 1px;
    font: 600 16px/30px sans-serif;
}
.clear {
    float: none !important;
    clear: both;
}
.border-radius-top {
    border-radius: 6px 6px 0px 0px !important;
}
@media only screen and (max-width:479px) {
}

#sp-step {
    display: block;
    padding: 5px 0;
    text-align: center;
    font-size: 0;
    cursor: default;
    background-color: #fff;
    margin: 0px 0;
}

#sp-step .sps-block.active {
    color: #f44f00;
}

#sp-step .sps-block {
    width: 24%;
    display: inline-block;
    height: 60px;
    padding: 15px 45px;
    text-align: left;
    line-height: 1.2em;
    font-size: 12px;
}

.icon16, icon18, .icon30, .icon22 {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.icon30 {
    width: 30px;
    height: 30px;
    background-image: url('images/sprites.png');
    background-repeat: no-repeat;
}

.active > .icon30-ssearch {
    background-position: -30px -150px;
}

.step-arrow {
    display: inline-block;
    width: 15px;
    height: 60px;
    background: url(images/step-arrow.png) center center no-repeat;
    vertical-align: top;
}

#sp-step .sps-block i {
    float: left;
    margin-right: 10px;
}

.icon30-user {
    background-position: 0px -180px;
}

.icon30-checkout {
    background-position: 0px -210px;
}

.icon30-success {
    background-position: 0px -240px;
}
#pnSeResult {
    margin-top: 50px;
}
.hiddenMobie {
    display: none;
}
@media (max-width: 480px) {
    .hiddenMobie { display: block; }
}
@media (max-width: 768px) {
    .hiddenMobie { display: block; }
}
select.TextBox {
    padding-bottom: 1px;
}
.FlightDirection.NoBottom.NoTop {
    text-align: left;
}