@using VDMMutiline.Dao
@using VDMMutiline.SharedComponent.Constants
@using VDMMutiline.SharedComponent.EntityInfo
@using VDMMutiline.SharedComponent.Params


@functions
{

    private List<TinTucInfo> GetlistTinTuc(int type, int take)
    {
        var model = new TinTucParam { TinTucInfos = null };
        var filter = new TinTucFilter
        {
            Search = string.Empty,

        };
        var param = new TinTucParam { TinTucFilter = filter, type = type, Take = take };
        var biz = new TinTucDao();
        biz.GetTake(param);
        model.TinTucInfos = param.TinTucInfos;
        return param.TinTucInfos;
    }

}
<style>
    #banner-img .social {
        margin-left: 15px;
    }

        #banner-img .social .tw {
            margin: 0 10px;
        }

    .extra-info {
        width: auto !important;
    }

    .receive-email {
        margin: 10px 0px 5px 0 !important;
    }

        .receive-email img {
            clear: none !important;
            margin: 0 !important;
        }

        .receive-email .txtEmail {
            width: 175px !important;
        }
</style>
<div id="banner-img">
    <div class='social clear'>
        <a class='left ' target="_blank" href='https://www.facebook.com/pages/Thegioivere/678708902147873?ref=hl'
           title='thegioivere facebook'>
            <img alt='thegioivere facebook' class='left' src="/Content/FontEnd/TGVR/style2.0/images/fb-big.jpg" />
        </a>
        <a class='left tw' target="_blank" href='https://twitter.com/vuthanhlinh2000' title='thegioivere twiter'>
            <img alt='thegioivere twiter' class='left' src="/Content/FontEnd/TGVR/style2.0/images/tw-big.jpg" />
        </a>
        <a class='left' target="_blank" href='https://twitter.com/vuthanhlinh2000' title='thegioivere google plus'>
            <img alt='thegioivere google plus' class='left' src="/Content/FontEnd/TGVR/style2.0/images/gg-big.jpg" />
        </a>
    </div>
    <div class='extra-info'>


        @Html.Action("SubmitMail", "Home")
    </div>
    <div class="fb-like-box" data-href="https://www.facebook.com/thegioivere" data-width="235px"
         data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false"
         data-show-border="true">
    </div>


    @foreach (var item in GetlistTinTuc(Constant.TinTucType.quangcao, 10))
    {   <a class='title' href='@Url.Action("ChiTiet", "FontEndnew", new { key = item.UrlHeper })'>
        <img src="@item.Anh" class='ads' />
    </a>
    }
    <div class="fb-activity" data-site="http://alobayngay.com/" data-action="likes, recommends"
         data-width="235px" data-height="500px" data-colorscheme="light" data-header="true">
    </div>
</div>