

<div class="SelectCityBoxContent">
    <input placeholder="Hãy nhập vào tên thành phố hoặc mã sân bay" autocomplete="off" id="txtStartPointSearch" type="text" class="TextBox ui-autocomplete-input" style="margin-top: 10px;margin-bottom: 0px;width: 100%;border: 1px solid #a59b9b;padding-left: 10px;float: none;">
    <div class="domestic-col-departure visible-xs">
        <div class="title2 clearfix">
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
               
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix "></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Điểm đến nổi bật</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_Go('HAN','Hà Nội')">
                    Hà Nội (HAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DAD','Đà Nẵng')">
                    Đà Nẵng (DAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CXR','Nha Trang')">
                    Nha Trang (CXR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HKG','Hồng Kông')">
                    Hồng Kông (HKG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MFM','Macau')">Macau (MFM)</li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SHA','Thượng Hải')">
                    Thượng Hải (SHA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CAN','Quảng Châu')">
                    Quảng Châu (CAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('TPE','Đài Bắc')">
                    Đài Bắc (TPE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ICN','Seoul')">
                    Seoul (ICN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PUS','Pusan')">
                    Pusan (PUS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NRT','Tokyo Narita')">
                    Tokyo Narita (NRT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NGO','Nagoya')">
                    Nagoya (NGO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SIN','Singapore')">
                    Singapore (SIN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BKK','Băng Cốc')">
                    Băng Cốc (BKK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MNL','Manila')">
                    Manila (MNL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LON','London')">
                    London (LON)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PAR','Paris')">
                    Paris (PAR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SYD','Sydney')">
                    Sydney (SYD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('FRA','Frankfurt')">
                    Frankfurt (FRA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('JFK','New York')">
                    New York (JFK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LAX','Los Angeles')">
                    Los Angeles (LAX)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('YVR','Vancouver')">
                    Vancouver (YVR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Việt Nam</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">

                <li class="seachpl" onclick="addGeoAirPort_Go('HAN','Hà Nội')">
                    Hà Nội (HAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HPH','Hải Phòng')">
                    Hải Phòng (HPH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DIN','Điện Biên Phủ')">
                    Điện Biên Phủ (DIN)
                </li>

                <li class="seachpl" onclick="addGeoAirPort_Go('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PQC','Phú Quốc')">
                    Phú Quốc (PQC)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VCS','Côn Đảo')">
                    Côn Đảo (VCS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VCA','Cần Thơ')">
                    Cần Thơ (VCA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CAH','Cà Mau')">
                    Cà Mau (CAH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VKG','Rạch Giá')">
                    Rạch Giá (VKG)
                </li>

                <li class="seachpl" onclick="addGeoAirPort_Go('DAD','Đà Nẵng')">
                    Đà Nẵng (DAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CXR','Nha Trang')">
                    Nha Trang (CXR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DLI','Đà Lạt')">
                    Đà Lạt (DLI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VII','Vinh')">
                    Vinh (VII)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HUI','Huế')">
                    Huế (HUI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('THD','Thanh Hóa')">
                    Thanh Hóa (THD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BMV','Ban Mê Thuật')">
                    Ban Mê Thuật (BMV)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PXU','Pleiku')">
                    Pleiku (PXU)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('UIH','Quy Nhơn')">
                    Quy Nhơn (UIH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VDH','Đồng Hới')">
                    Đồng Hới (VDH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('TBB','Tuy Hòa')">
                    Tuy Hòa (TBB)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VCL','Chu Lai')">
                    Chu Lai (VCL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Á</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_Go('BJS','Bắc Kinh')">
                    Bắc Kinh (BJS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CTU','Thành Đô')">
                    Thành Đô (CTU)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CAN','Quảng Châu')">
                    Quảng Châu (CAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SHA','Thượng Hải')">
                    Thượng Hải (SHA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HKG','Hồng Kông')">
                    Hồng Kông (HKG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('TPE','Đài Bắc')">
                    Đài Bắc (TPE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('KHH','Cao Hùng')">
                    Cao Hùng (KHH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ICN','Seoul')">
                    Seoul (ICN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PUS','Pusan')">
                    Pusan (PUS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('FUK','Fukuoka')">
                    Fukuoka (FUK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NGO','Nagoya')">
                    Nagoya (NGO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('OSA','Osaka')">
                    Osaka (OSA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HND','Tokyo Haneda')">
                    Tokyo Haneda (HND)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NRT','Tokyo Narita')">
                    Tokyo Narita (NRT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LPQ','Luông pra băng')">
                    Luông pra băng (LPQ)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PNH','Phnôm Pênh')">
                    Phnôm Pênh (PNH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('REP','Siem Reap')">
                    Siem Reap (REP)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VTE','Viên Chăn')">
                    Viên Chăn (VTE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BKK','Băng Cốc')">
                    Băng Cốc (BKK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('KUL','Kuala Lumpur')">
                    Kuala Lumpur KUL()
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MNL','Manila')">
                    Manila (MNL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SIN','Singapore')">
                    Singapore (SIN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('RGN','Yangon')">
                    Yangon (RGN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('JKT','Jakarta')">
                    Jakarta (JKT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DPS','Denpasar Bali')">
                    Denpasar Bali (DPS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BOM','Mumbai')">
                    Mumbai (BOM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DEL','Delhi')">
                    Delhi (DEL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('KTM','Kathmandu')">
                    Kathmandu (KTM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('IST','Istanbul')">
                    Istanbul (IST)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DXB','Dubai')">
                    Dubai (DXB)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Âu</div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_Go('AMS','Amsterdam')">
                    Amsterdam (AMS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BCN','Barcelona')">
                    Barcelona (BCN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('FRA','Frankfurt')">
                    Frankfurt (FRA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('GVA','Geneva')">
                    Geneva (GVA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LON','London')">
                    London (LON)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LYS','Lyon')">
                    Lyon (LYS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MAD','Madrid')">
                    Madrid (MAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MRS','Mác-xây')">
                    Mác-xây (MRS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MPL','Montpellier')">
                    Montpellier (MPL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MOW','Mát-xờ-cơ-va')">
                    Mát-xờ-cơ-va (MOW)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NCE','Nice')">
                    Nice (NCE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PAR','Paris')">
                    Paris (PAR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PRG','Praha')">
                    Praha (PRG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ROM','Rome')">
                    Rome (ROM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('TLS','Toulouse')">
                    Toulouse (TLS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('VIE','Viên')">
                    Viên (VIE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CPH','Copenhagen')">
                    Copenhagen (CPH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('OSL','Oslo')">
                    Oslo (OSL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ZRH','Zurich')">
                    Zurich (ZRH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BCN','Barcelona')">
                    Barcelona (BCN)
                </li>
            </ul>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="clear-fix"></div>

            <div class="title seachpl">Châu Mỹ</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_Go('ATL', 'Atlanta')">
                    Atlanta (ATL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('AUS', 'Austin')">
                    Austin (AUS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BOS', 'Boston')">
                    Boston (BOS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CHI', 'Chicago')">
                    Chicago (CHI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DFW', 'Dallas')">
                    Dallas (DFW)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DEN', 'Denver')">
                    Denver (DEN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HNL', 'Honolulu')">
                    Honolulu (HNL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LAX', 'Los Angeles')">
                    Los Angeles (LAX)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MIA', 'Miami')">
                    Miami (MIA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MSP', 'Minneapolis')">
                    Minneapolis (MSP)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('JFK', 'New York')">
                    New York (JFK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PHL', 'Philadelphia')">
                    Philadelphia (PHL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PDX', 'Portland (Oregon)')">
                    Portland (Oregon) (PDX)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SFO', 'San Francisco')">
                    San Francisco (SFO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('SEA', 'Seattle')">
                    Seattle (SEA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('STL', 'St Louis')">
                    St Louis (STL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('YVR', 'Vancouver')">
                    Vancouver (YVR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('WAS', 'Washington')">
                    Washington (WAS)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="clear-fix"></div>
            <div class="title seachpl">Châu Đại Dương</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_Go('SYD', 'Sydney')">
                    Sydney (SYD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MEL', 'Men-bơn')">
                    Men-bơn (MEL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DRW', 'Darwin')">
                    Darwin (DRW)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('OOL', 'Gold Coast')">
                    Gold Coast (OOL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ADL', 'Adelaide')">
                    Adelaide (ADL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CNS', 'Cairns')">
                    Cairns (CNS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HBA', 'Hobart')">
                    Hobart (HBA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PER', 'Perth')">
                    Perth (PER)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NAN', 'Nadi')">
                    Nadi (NAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('AKL', 'Auckland')">
                    Auckland (AKL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('WLG', 'Wellington')">
                    Wellington (WLG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DUD', 'Dunedin')">
                    Dunedin (DUD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('BNE', 'Brisbane')">
                    Brisbane (BNE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CBR', 'Canberra')">
                    Canberra (CBR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('PPT', 'Papeete')">
                    Papeete (PPT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MEL', 'Men-bơn')">
                    Men-bơn (MEL)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="clear-fix"></div>
            <div class="title seachpl">Châu Phi</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_Go('NBO', 'Cairo')">
                    Cairo (CAI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LXR', 'Luxor')">
                    Luxor (LXR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LOS', 'Lagos')">
                    Lagos (LOS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ADD', 'Addis Ababa')">
                    Addis Ababa (ADD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CAS', 'Casablanca')">
                    Casablanca (CAS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('HRE', 'Harare')">
                    Harare (HRE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MPM', 'Maputo')">
                    Maputo (MPM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('JNB', 'Johannesburg')">
                    Johannesburg (JNB)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LAD', 'Luanda')">
                    Luanda (LAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('KRT', 'Khartoum')">
                    Khartoum (KRT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DUR', 'Durban')">
                    Durban (DUR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('YAO', 'Yaounde')">
                    Yaounde (YAO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DLA', 'Douala')">
                    Douala (DLA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('CPT', 'Cape Town')">
                    Cape Town (CPT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('MRU', 'Mauritius')">
                    Mauritius (MRU)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ACC', 'Accra')">
                    Accra (ACC)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('TUN', 'Tuynidi')">
                    Tuynidi (TUN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('GBE', 'Gaborone')">
                    Gaborone (GBE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('FNA', 'Freetown')">
                    Freetown (FNA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('NBO', 'Nairobi')">
                    Nairobi (NBO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('DAR', 'Dar es Salaam')">
                    Dar es Salaam (DAR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ALG', 'Alger')">
                    Alger (ALG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('LUN', 'Lusaka')">
                    Lusaka (LUN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('FIH', 'Kinshasa')">
                    Kinshasa (FIH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_Go('ABJ', 'Abidjan')">
                    Abidjan (ABJ)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
    </div>
<div id="tabs-depart">
 
<ul class="hidden-xs">
    <li><a href="#tabs-1">Việt Nam</a></li>
    <li><a href="#tabs-top-dest-start">Điểm đến nổi bật</a></li>
    <li><a href="#tabs-2">Châu Á</a></li>
    <li><a href="#tabs-3">Châu Âu</a></li>
    <li><a href="#tabs-4">Châu Mỹ</a></li>
    <li><a href="#tabs-5">Châu Đại Dương</a></li>
    <li><a href="#tabs-6">Châu Phi</a></li>
</ul>
<div id="tabs-top-dest-start" class="hidden-xs">
    <ul class="city-list">
        <li onclick="addGeoAirPort_Go('HAN', 'Hà Nội')">
            Hà Nội (HAN)
        </li>
        <li onclick="addGeoAirPort_Go('SGN', 'Hồ Chí Minh')">
            Hồ Chí Minh (SGN)
        </li>
        <li onclick="addGeoAirPort_Go('DAD', 'Đà Nẵng')">
            Đà Nẵng (DAD)
        </li>
        <li onclick="addGeoAirPort_Go('CXR', 'Nha Trang')">
            Nha Trang (CXR)
        </li>
        <li onclick="addGeoAirPort_Go('HKG', 'Hồng Kông')">
            Hồng Kông (HKG)
        </li>
        <li onclick="addGeoAirPort_Go('MFM', 'Macau')">Macau (MFM)</li>
        <li onclick="addGeoAirPort_Go('SHA', 'Thượng Hải')">
            Thượng Hải (SHA)
        </li>
        <li onclick="addGeoAirPort_Go('CAN', 'Quảng Châu')">
            Quảng Châu (CAN)
        </li>
        <li onclick="addGeoAirPort_Go('TPE', 'Đài Bắc')">
            Đài Bắc (TPE)
        </li>
        <li onclick="addGeoAirPort_Go('ICN', 'Seoul')">
            Seoul (ICN)
        </li>
        <li onclick="addGeoAirPort_Go('PUS', 'Pusan')">
            Pusan (PUS)
        </li>
        <li onclick="addGeoAirPort_Go('NRT', 'Tokyo Narita')">
            Tokyo Narita (NRT)
        </li>
        <li onclick="addGeoAirPort_Go('NGO', 'Nagoya')">
            Nagoya (NGO)
        </li>
        <li onclick="addGeoAirPort_Go('SIN', 'Singapore')">
            Singapore (SIN)
        </li>
        <li onclick="addGeoAirPort_Go('BKK', 'Băng Cốc')">
            Băng Cốc (BKK)
        </li>
        <li onclick="addGeoAirPort_Go('MNL', 'Manila')">
            Manila (MNL)
        </li>
        <li onclick="addGeoAirPort_Go('LON', 'London')">
            London (LON)
        </li>
        <li onclick="addGeoAirPort_Go('PAR', 'Paris')">
            Paris (PAR)
        </li>
        <li onclick="addGeoAirPort_Go('SYD', 'Sydney')">
            Sydney (SYD)
        </li>
        <li onclick="addGeoAirPort_Go('FRA', 'Frankfurt')">
            Frankfurt (FRA)
        </li>
        <li onclick="addGeoAirPort_Go('JFK', 'New York')">
            New York (JFK)
        </li>
        <li onclick="addGeoAirPort_Go('LAX', 'Los Angeles')">
            Los Angeles (LAX)
        </li>
        <li onclick="addGeoAirPort_Go('YVR', 'Vancouver')">
            Vancouver (YVR)
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="tabs-1" class="hidden-xs">
    <ul class="city-list">
        <li class="region"><strong>MIỀN BẮC</strong></li>
        <li onclick="addGeoAirPort_Go('HAN', 'Hà Nội')">
            Hà Nội (HAN)
        </li>
        <li onclick="addGeoAirPort_Go('HPH', 'Hải Phòng')">
            Hải Phòng (HPH)
        </li>
        <li onclick="addGeoAirPort_Go('DIN', 'Điện Biên Phủ')">
            Điện Biên Phủ (DIN)
        </li>
        <li class="region"><strong>MIỀN NAM</strong></li>
        <li onclick="addGeoAirPort_Go('SGN', 'Hồ Chí Minh')">
            Hồ Chí Minh (SGN)
        </li>
        <li onclick="addGeoAirPort_Go('PQC', 'Phú Quốc')">
            Phú Quốc (PQC)
        </li>
        <li onclick="addGeoAirPort_Go('VCS', 'Côn Đảo')">
            Côn Đảo (VCS)
        </li>
        <li onclick="addGeoAirPort_Go('VCA', 'Cần Thơ')">
            Cần Thơ (VCA)
        </li>
        <li onclick="addGeoAirPort_Go('CAH', 'Cà Mau')">
            Cà Mau (CAH)
        </li>
        <li onclick="addGeoAirPort_Go('VKG', 'Rạch Giá')">
            Rạch Giá (VKG)
        </li>
        <li class="region"><strong>MIỀN TRUNG</strong></li>
        <li onclick="addGeoAirPort_Go('DAD', 'Đà Nẵng')">
            Đà Nẵng (DAD)
        </li>
        <li onclick="addGeoAirPort_Go('CXR', 'Nha Trang')">
            Nha Trang (CXR)
        </li>
        <li onclick="addGeoAirPort_Go('DLI', 'Đà Lạt')">
            Đà Lạt (DLI)
        </li>
        <li onclick="addGeoAirPort_Go('VII', 'Vinh')">
            Vinh (VII)
        </li>
        <li onclick="addGeoAirPort_Go('HUI', 'Huế')">
            Huế (HUI)
        </li>
        <li onclick="addGeoAirPort_Go('THD', 'Thanh Hóa')">
            Thanh Hóa (THD)
        </li>
        <li onclick="addGeoAirPort_Go('BMV', 'Ban Mê Thuật')">
            Ban Mê Thuật (BMV)
        </li>
        <li onclick="addGeoAirPort_Go('PXU', 'Pleiku')">
            Pleiku (PXU)
        </li>
        <li onclick="addGeoAirPort_Go('UIH', 'Quy Nhơn')">
            Quy Nhơn (UIH)
        </li>
        <li onclick="addGeoAirPort_Go('VDH', 'Đồng Hới')">
            Đồng Hới (VDH)
        </li>
        <li onclick="addGeoAirPort_Go('TBB', 'Tuy Hòa')">
            Tuy Hòa (TBB)
        </li>
        <li onclick="addGeoAirPort_Go('VCL', 'Chu Lai')">
            Chu Lai (VCL)
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="tabs-2" class="hidden-xs">
    <ul class="city-list">
        <li onclick="addGeoAirPort_Go('BJS', 'Bắc Kinh')">
            Bắc Kinh (BJS)
        </li>
        <li onclick="addGeoAirPort_Go('CTU', 'Thành Đô')">
            Thành Đô (CTU)
        </li>
        <li onclick="addGeoAirPort_Go('CAN', 'Quảng Châu')">
            Quảng Châu (CAN)
        </li>
        <li onclick="addGeoAirPort_Go('SHA', 'Thượng Hải')">
            Thượng Hải (SHA)
        </li>
        <li onclick="addGeoAirPort_Go('HKG', 'Hồng Kông')">
            Hồng Kông (HKG)
        </li>
        <li onclick="addGeoAirPort_Go('TPE', 'Đài Bắc')">
            Đài Bắc (TPE)
        </li>
        <li onclick="addGeoAirPort_Go('KHH', 'Cao Hùng')">
            Cao Hùng (KHH)
        </li>
        <li onclick="addGeoAirPort_Go('ICN', 'Seoul')">
            Seoul (ICN)
        </li>
        <li onclick="addGeoAirPort_Go('PUS', 'Pusan')">
            Pusan (PUS)
        </li>
        <li onclick="addGeoAirPort_Go('FUK', 'Fukuoka')">
            Fukuoka (FUK)
        </li>
        <li onclick="addGeoAirPort_Go('NGO', 'Nagoya')">
            Nagoya (NGO)
        </li>
        <li onclick="addGeoAirPort_Go('OSA', 'Osaka')">
            Osaka (OSA)
        </li>
        <li onclick="addGeoAirPort_Go('HND', 'Tokyo Haneda')">
            Tokyo Haneda (HND)
        </li>
        <li onclick="addGeoAirPort_Go('NRT', 'Tokyo Narita')">
            Tokyo Narita (NRT)
        </li>
        <li onclick="addGeoAirPort_Go('LPQ', 'Luông pra băng')">
            Luông pra băng (LPQ)
        </li>
        <li onclick="addGeoAirPort_Go('PNH', 'Phnôm Pênh')">
            Phnôm Pênh (PNH)
        </li>
        <li onclick="addGeoAirPort_Go('REP', 'Siem Reap')">
            Siem Reap (REP)
        </li>
        <li onclick="addGeoAirPort_Go('VTE', 'Viên Chăn')">
            Viên Chăn (VTE)
        </li>
        <li onclick="addGeoAirPort_Go('BKK', 'Băng Cốc')">
            Băng Cốc (BKK)
        </li>
        <li onclick="addGeoAirPort_Go('KUL', 'Kuala Lumpur')">
            Kuala Lumpur (KUL)
        </li>
        <li onclick="addGeoAirPort_Go('MNL', 'Manila')">
            Manila (MNL)
        </li>
        <li onclick="addGeoAirPort_Go('SIN', 'Singapore')">
            Singapore (SIN)
        </li>
        <li onclick="addGeoAirPort_Go('RGN', 'Yangon, Myanmar')">
            Yangon (RGN)
        </li>
        <li onclick="addGeoAirPort_Go('JKT', 'Jakarta')">
            Jakarta (JKT)
        </li>
        <li onclick="addGeoAirPort_Go('DPS', 'Denpasar Bali')">
            Denpasar Bali (DPS)
        </li>
        <li onclick="addGeoAirPort_Go('BOM', 'Mumbai')">
            Mumbai (BOM)
        </li>
        <li onclick="addGeoAirPort_Go('DEL', 'Delhi')">
            Delhi (DEL)
        </li>
        <li onclick="addGeoAirPort_Go('KTM', 'Kathmandu')">
            Kathmandu (KTM)
        </li>
        <li onclick="addGeoAirPort_Go('IST', 'Istanbul')">
            Istanbul (IST)
        </li>
        <li onclick="addGeoAirPort_Go('DXB', 'Dubai')">
            Dubai (DXB)
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="tabs-3" class="hidden-xs">
    <ul class="city-list">
        <li onclick="addGeoAirPort_Go('AMS', 'Amsterdam')">
            Amsterdam (AMS)
        </li>
        <li onclick="addGeoAirPort_Go('BCN', 'Barcelona')">
            Barcelona (BCN)
        </li>
        <li onclick="addGeoAirPort_Go('FRA', 'Frankfurt')">
            Frankfurt (FRA)
        </li>
        <li onclick="addGeoAirPort_Go('GVA', 'Geneva')">
            Geneva (GVA)
        </li>
        <li onclick="addGeoAirPort_Go('LON', 'London')">
            London (LON)
        </li>
        <li onclick="addGeoAirPort_Go('LYS', 'Lyon')">
            Lyon (LYS)
        </li>
        <li onclick="addGeoAirPort_Go('MAD', 'Madrid')">
            Madrid (MAD)
        </li>
        <li onclick="addGeoAirPort_Go('MRS', 'Mác-xây')">
            Mác-xây (MRS)
        </li>
        <li onclick="addGeoAirPort_Go('MPL', 'Montpellier')">
            Montpellier (MPL)
        </li>
        <li onclick="addGeoAirPort_Go('MOW', 'Mát-xờ-cơ-va')">
            Mát-xờ-cơ-va (MOW)
        </li>
        <li onclick="addGeoAirPort_Go('NCE', 'Nice')">
            Nice (NCE)
        </li>
        <li onclick="addGeoAirPort_Go('PAR', 'Paris')">
            Paris (PAR)
        </li>
        <li onclick="addGeoAirPort_Go('PRG', 'Praha, Czech Republic')">
            Praha (PRG)
        </li>
        <li onclick="addGeoAirPort_Go('ROM', 'Rome')">
            Rome (ROM)
        </li>
        <li onclick="addGeoAirPort_Go('TLS', 'Toulouse')">
            Toulouse (TLS)
        </li>
        <li onclick="addGeoAirPort_Go('VIE', 'Viên')">
            Viên (VIE)
        </li>
        <li onclick="addGeoAirPort_Go('CPH', 'Copenhagen')">
            Copenhagen (CPH)
        </li>
        <li onclick="addGeoAirPort_Go('OSL', 'Oslo')">
            Oslo (OSL)
        </li>
        <li onclick="addGeoAirPort_Go('ZRH', 'Zurich')">
            Zurich (ZRH)
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="tabs-4" class="hidden-xs">
    <ul class="city-list">
        <li onclick="addGeoAirPort_Go('ATL', 'Atlanta')">
            Atlanta (ATL)
        </li>
        <li onclick="addGeoAirPort_Go('AUS', 'Austin')">
            Austin (AUS)
        </li>
        <li onclick="addGeoAirPort_Go('BOS', 'Boston')">
            Boston (BOS)
        </li>
        <li onclick="addGeoAirPort_Go('CHI', 'Chicago')">
            Chicago (CHI)
        </li>
        <li onclick="addGeoAirPort_Go('DFW', 'Dallas')">
            Dallas (DFW)
        </li>
        <li onclick="addGeoAirPort_Go('DEN', 'Denver')">
            Denver (DEN)
        </li>
        <li onclick="addGeoAirPort_Go('HNL', 'Honolulu')">
            Honolulu (HNL)
        </li>
        <li onclick="addGeoAirPort_Go('LAX', 'Los Angeles')">
            Los Angeles (LAX)
        </li>
        <li onclick="addGeoAirPort_Go('MIA', 'Miami')">
            Miami (MIA)
        </li>
        <li onclick="addGeoAirPort_Go('MSP', 'Minneapolis')">
            Minneapolis (MSP)
        </li>
        <li onclick="addGeoAirPort_Go('JFK', 'New York')">
            New York (JFK)
        </li>
        <li onclick="addGeoAirPort_Go('PHL', 'Philadelphia')">
            Philadelphia (PHL)
        </li>
        <li onclick="addGeoAirPort_Go('PDX', 'Portland (Oregon)')">
            Portland (Oregon) (PDX)
        </li>
        <li onclick="addGeoAirPort_Go('SFO', 'San Francisco')">
            San Francisco (SFO)
        </li>
        <li onclick="addGeoAirPort_Go('SEA', 'Seattle')">
            Seattle (SEA)
        </li>
        <li onclick="addGeoAirPort_Go('STL', 'St Louis')">
            St Louis (STL)
        </li>
        <li onclick="addGeoAirPort_Go('YVR', 'Vancouver')">
            Vancouver (YVR)
        </li>
        <li onclick="addGeoAirPort_Go('WAS', 'Washington')">
            Washington (WAS)
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="tabs-5" class="hidden-xs">
    <ul class="city-list">
        <li onclick="addGeoAirPort_Go('SYD', 'Sydney')">
            Sydney (SYD)
        </li>
        <li onclick="addGeoAirPort_Go('MEL', 'Men-bơn')">
            Men-bơn (MEL)
        </li>
        <li onclick="addGeoAirPort_Go('DRW', 'Darwin')">
            Darwin (DRW)
        </li>
        <li onclick="addGeoAirPort_Go('OOL', 'Gold Coast')">
            Gold Coast (OOL)
        </li>
        <li onclick="addGeoAirPort_Go('ADL', 'Adelaide')">
            Adelaide (ADL)
        </li>
        <li onclick="addGeoAirPort_Go('CNS', 'Cairns')">
            Cairns (CNS)
        </li>
        <li onclick="addGeoAirPort_Go('HBA', 'Hobart')">
            Hobart (HBA)
        </li>
        <li onclick="addGeoAirPort_Go('PER', 'Perth')">
            Perth (PER)
        </li>
        <li onclick="addGeoAirPort_Go('NAN', 'Nadi')">
            Nadi (NAN)
        </li>
        <li onclick="addGeoAirPort_Go('AKL', 'Auckland')">
            Auckland (AKL)
        </li>
        <li onclick="addGeoAirPort_Go('WLG', 'Wellington')">
            Wellington (WLG)
        </li>
        <li onclick="addGeoAirPort_Go('DUD', 'Dunedin')">
            Dunedin (DUD)
        </li>
        <li onclick="addGeoAirPort_Go('BNE', 'Brisbane')">
            Brisbane (BNE)
        </li>
        <li onclick="addGeoAirPort_Go('CBR', 'Canberra')">
            Canberra (CBR)
        </li>
        <li onclick="addGeoAirPort_Go('PPT', 'Papeete')">
            Papeete (PPT)
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="tabs-6" class="hidden-xs">
    <ul class="city-list">
        <li onclick="addGeoAirPort_Go('NBO', 'Cairo')">
            Cairo (CAI)
        </li>
        <li onclick="addGeoAirPort_Go('LXR', 'Luxor')">
            Luxor (LXR)
        </li>
        <li onclick="addGeoAirPort_Go('LOS', 'Lagos')">
            Lagos (LOS)
        </li>
        <li onclick="addGeoAirPort_Go('ADD', 'Addis Ababa')">
            Addis Ababa (ADD)
        </li>
        <li onclick="addGeoAirPort_Go('CAS', 'Casablanca')">
            Casablanca (CAS)
        </li>
        <li onclick="addGeoAirPort_Go('HRE', 'Harare')">
            Harare (HRE)
        </li>
        <li onclick="addGeoAirPort_Go('MPM', 'Maputo')">
            Maputo (MPM)
        </li>
        <li onclick="addGeoAirPort_Go('JNB', 'Johannesburg')">
            Johannesburg (JNB)
        </li>
        <li onclick="addGeoAirPort_Go('LAD', 'Luanda')">
            Luanda (LAD)
        </li>
        <li onclick="addGeoAirPort_Go('KRT', 'Khartoum')">
            Khartoum (KRT)
        </li>
        <li onclick="addGeoAirPort_Go('DUR', 'Durban')">
            Durban (DUR)
        </li>
        <li onclick="addGeoAirPort_Go('YAO', 'Yaounde')">
            Yaounde (YAO)
        </li>
        <li onclick="addGeoAirPort_Go('DLA', 'Douala')">
            Douala (DLA)
        </li>
        <li onclick="addGeoAirPort_Go('CPT', 'Cape Town')">
            Cape Town (CPT)
        </li>
        <li onclick="addGeoAirPort_Go('MRU', 'Mauritius')">
            Mauritius (MRU)
        </li>
        <li onclick="addGeoAirPort_Go('ACC', 'Accra')">
            Accra (ACC)
        </li>
        <li onclick="addGeoAirPort_Go('TUN', 'Tuynidi')">
            Tuynidi (TUN)
        </li>
        <li onclick="addGeoAirPort_Go('GBE', 'Gaborone')">
            Gaborone (GBE)
        </li>
        <li onclick="addGeoAirPort_Go('FNA', 'Freetown')">
            Freetown (FNA)
        </li>
        <li onclick="addGeoAirPort_Go('NBO', 'Nairobi')">
            Nairobi (NBO)
        </li>
        <li onclick="addGeoAirPort_Go('DAR', 'Dar es Salaam')">
            Dar es Salaam (DAR)
        </li>
        <li onclick="addGeoAirPort_Go('ALG', 'Alger')">
            Alger (ALG)
        </li>
        <li onclick="addGeoAirPort_Go('LUN', 'Lusaka')">
            Lusaka (LUN)
        </li>
        <li onclick="addGeoAirPort_Go('FIH', 'Kinshasa')">
            Kinshasa (FIH)
        </li>
        <li onclick="addGeoAirPort_Go('ABJ', 'Abidjan')">
            Abidjan (ABJ)
        </li>
    </ul>
    <div class="clear"></div>
</div>
</div>
</div>
<script>
    $(function () {
        var tabs = $("#tabs-depart").tabs();
    });
</script>
<style>
    .ui-widget {
        font-family:Arial,sans-serif !important; 
    }

    .ui-tabs-hide {
        display: none !important;
    }

    .ui-tabs .ui-tabs-panel ul > li {
        margin-left: 10px;
        min-width: 140px;
        font-size: 13px;
        max-width: 140px;
    }


    ul.city-list li {
        padding: 2px 5px 2px 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    li.region {
        background-color: #05a9cd;
        color: #fff;
        pointer-events: none;
    }

    .ui-widget-content {
        border: 1px solid #aaaaaa /*{borderColorContent}*/;
        background: #ffffff;
        color: #222222 /*{fcContent}*/;
    }

    .ui-tabs {
        position: relative;
        padding: .2em;
    }

    .ui-tabs .ui-tabs-nav {
        margin: 0;
        padding: .2em .2em 0;
    }

    .ui-widget-header {
        border: none !important;
    }

    .ui-widget-header {
        background: #f6f5f5 !important;
        font-weight: 700;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        margin-bottom: -1px;
        padding-bottom: 1px;
    }

    .ui-tabs .ui-tabs-nav li {
        list-style: none;
        float: left;
        position: relative;
        top: 0;
        margin: 1px .2em 0 0 !important;
        border-bottom-width: 0;
        padding: 0;
        white-space: nowrap;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #aaa;
        background: #fff !important;
        font-weight: normal;
        color: #212121;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #d3d3d3;
        background: #e6e6e6 !important;
        font-weight: normal;
        color: #555;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
        cursor: text;
    }

    .ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
        cursor: pointer;
    }

    .ui-tabs .ui-tabs-nav li a {
        float: left;
        padding: 7px 10px;
        text-decoration: none;
    }

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #212121;
        text-decoration: none;
    }

    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #555;
        text-decoration: none;
    }

    .ui-widget-header a {
        color: #222 !important;
    }

    .ui-widget-content a {
        color: #222 !important;
    }

    ul.city-list li:hover {
        background-color: #00B1F2;
        color: #fff;
        cursor: pointer;
    }

    ul.city-list li {
        padding: 3px 5px 3px 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .SelectCityBox .SelectCityBoxContent {
        width: 750px;
        margin: auto;
        padding: 5px;
    }

    ul.city-list {
        margin: 0px;
        padding: 0px 0px;
        list-style: none;
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }

    .SelectCityBox .SelectCityBoxHeader .Close a {
        color: white;
    }

    .SelectCityBox .SelectCityBoxHeader .Close a:hover {
        color: #1F60A1;
    }

    .SelectCityBox .SelectCityBoxHeader .Title {
        float: left;
        white-space: nowrap;
    }

    .SelectCityBox .SelectCityBoxHeader .Close {
        float: right;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
        margin-right: 0px;
    }

    .SelectCityBox {
        width: auto;
        margin: auto;
        background-color: #FFF !important;
        display: none;
        z-index: 100;
        position: absolute;
        color: rgb(113, 113, 113);
        box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
        font-size: 13px;
        width: 760px;
        border-radius: 0 !important;
    }

    .SelectCityBox .SelectCityBoxHeader {
        padding: 0px 15px;
        background-color: #00B1F2;
        color: white;
        border-radius: 0px;
        margin: 0px;
    }

    .ui-widget-content {
        border: 1px solid #aaaaaa;
        background: #ffffff;
        color: #222222;
        border-radius: 5px !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        margin-bottom: -1px;
        padding-bottom: 1px;
        background: #fff !important;
        border-bottom: none !important;
    }
    .ui-datepicker .ui-datepicker-header {
        background: #008CC8 !important;
    }
</style>
<script>
    function addGeoAirPort_Go(code, name) {
        $("#txtStartPoint").val(name + '- (' + code + ')');
        $('#hdfStartPoint').val(code);
        $('#pnStartCity').hide();
        $('#pnEndCity').show();
        $('html,body').scrollTop(0);
    }
    function SearchAutoCompleteStartPointopub() {
        $("#txtStartPointSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@System.Configuration.ConfigurationManager.AppSettings["SearchAirportInSiteUrl"]"+"?key="+ $("#txtStartPointSearch").val(),
                   success: function ( data ) {
                        response( $.map( data, function ( item ) {
                            var label = "<b>" + item.AirportName + " (" + item.AirportCode + ")</b> <b style='float:right;color:#FF6600;clear:both;white-space: nowrap;'>" + item.CountryName + "</b>"
                            var labeldisplay = item.AirportName + ", " + item.CountryName + " - (" + item.AirportCode + ")";
                            return { labeldisplay: labeldisplay, label: label, value: item.AirportCode };
                        } ) );
                    }
                });
            },
            select: function (event, ui) {
                $('#hdfStartPoint').val(ui.item.value);
                $("#txtStartPoint").val(ui.item.labeldisplay);

                $("#txtStartPoint").val(ui.item.labeldisplay);
                $('#txtStartPointSearch').val(ui.item.labeldisplay);

                $('#pnStartCity').css('display', 'none');
                $('#pnEndCity').css('display', 'block');
                $('#txtEndPointSearch').focus();
                $('html,body').scrollTop(0);
            },
            minLength: 3
        });
    }

    $(document).ready(function () {
        SearchAutoCompleteStartPointopub();
    });
</script>