

<div class="SelectCityBoxContent">
    <input placeholder="Hãy nhập vào tên thành phố hoặc mã sân bay" autocomplete="off" id="txtEndPointSearch" type="text" class="TextBox ui-autocomplete-input" style="margin-top: 10px;margin-bottom: 0px;width: 100%;border: 1px solid #a59b9b;padding-left: 10px;float: none;">
    <div class="domestic-col-arrival visible-xs">
        <style>
            .title.seachpl {
                font-weight: bold;
                display: flow-root;
                padding: 9px 5px;
                border-bottom: solid 1px #d4d4d4;
                background-color: #f7941d;
                color: #fff;
                font-size: 16px;
            }

                .title.seachpl:after {
                    /*background: url(/Content/downArrow.png) no-repeat center center;*/
                    display: inline-block;
                    content: '';
                    width: 18px;
                    height: 1em;
                    float: right;
                    margin-right: 5px;
                }

            .panel-container .airport-result > div.active > b:after {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            li.seachpl {
                width: 50%;
                float: left;
                padding: 10px;
                height: 40px;
                padding-top: 10px;
                font-weight: normal;
                border-bottom: solid 1px #d4d4d4;
            }

                li.seachpl a {
                    padding: 15px;
                    font-size: 13px;
                    font-weight: normal;
                    color: #444 !important;
                }
        </style>
        <div class="title2 clearfix">

            <div class="clear-fix"></div>
            <ul style="padding: 0px;"></ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Điểm đến nổi bật</div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_To('HAN','Hà Nội')">
                    Hà Nội (HAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DAD','Đà Nẵng')">
                    Đà Nẵng (DAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CXR','Nha Trang')">
                    Nha Trang (CXR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HKG','Hồng Kông')">
                    Hồng Kông (HKG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MFM','Macau')">Macau (MFM)</li>
                <li class="seachpl" onclick="addGeoAirPort_To('SHA','Thượng Hải')">
                    Thượng Hải (SHA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CAN','Quảng Châu')">
                    Quảng Châu (CAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('TPE','Đài Bắc')">
                    Đài Bắc (TPE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ICN','Seoul')">
                    Seoul (ICN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PUS','Pusan')">
                    Pusan (PUS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NRT','Tokyo Narita')">
                    Tokyo Narita (NRT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NGO','Nagoya')">
                    Nagoya (NGO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SIN','Singapore')">
                    Singapore (SIN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BKK','Băng Cốc')">
                    Băng Cốc (BKK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MNL','Manila')">
                    Manila (MNL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LON','London')">
                    London (LON)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PAR','Paris')">
                    Paris (PAR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SYD','Sydney')">
                    Sydney (SYD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('FRA','Frankfurt')">
                    Frankfurt (FRA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('JFK','New York')">
                    New York (JFK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LAX','Los Angeles')">
                    Los Angeles (LAX)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('YVR','Vancouver')">
                    Vancouver (YVR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Việt Nam</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">

                <li class="seachpl" onclick="addGeoAirPort_To('HAN','Hà Nội')">
                    Hà Nội (HAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HPH','Hải Phòng')">
                    Hải Phòng (HPH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DIN','Điện Biên Phủ')">
                    Điện Biên Phủ (DIN)
                </li>

                <li class="seachpl" onclick="addGeoAirPort_To('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PQC','Phú Quốc')">
                    Phú Quốc (PQC)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VCS','Côn Đảo')">
                    Côn Đảo (VCS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VCA','Cần Thơ')">
                    Cần Thơ (VCA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CAH','Cà Mau')">
                    Cà Mau (CAH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VKG','Rạch Giá')">
                    Rạch Giá (VKG)
                </li>

                <li class="seachpl" onclick="addGeoAirPort_To('DAD','Đà Nẵng')">
                    Đà Nẵng (DAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CXR','Nha Trang')">
                    Nha Trang (CXR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DLI','Đà Lạt')">
                    Đà Lạt (DLI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VII','Vinh')">
                    Vinh (VII)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HUI','Huế')">
                    Huế (HUI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('THD','Thanh Hóa')">
                    Thanh Hóa (THD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BMV','Ban Mê Thuật')">
                    Ban Mê Thuật (BMV)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PXU','Pleiku')">
                    Pleiku (PXU)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('UIH','Quy Nhơn')">
                    Quy Nhơn (UIH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VDH','Đồng Hới')">
                    Đồng Hới (VDH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('TBB','Tuy Hòa')">
                    Tuy Hòa (TBB)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VCL','Chu Lai')">
                    Chu Lai (VCL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Á</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_To('BJS','Bắc Kinh')">
                    Bắc Kinh (BJS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CTU','Thành Đô')">
                    Thành Đô (CTU)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CAN','Quảng Châu')">
                    Quảng Châu (CAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SHA','Thượng Hải')">
                    Thượng Hải (SHA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HKG','Hồng Kông')">
                    Hồng Kông (HKG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('TPE','Đài Bắc')">
                    Đài Bắc (TPE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('KHH','Cao Hùng')">
                    Cao Hùng (KHH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ICN','Seoul')">
                    Seoul (ICN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PUS','Pusan')">
                    Pusan (PUS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('FUK','Fukuoka')">
                    Fukuoka (FUK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NGO','Nagoya')">
                    Nagoya (NGO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('OSA','Osaka')">
                    Osaka (OSA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HND','Tokyo Haneda')">
                    Tokyo Haneda (HND)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NRT','Tokyo Narita')">
                    Tokyo Narita (NRT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LPQ','Luông pra băng')">
                    Luông pra băng (LPQ)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PNH','Phnôm Pênh')">
                    Phnôm Pênh (PNH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('REP','Siem Reap')">
                    Siem Reap (REP)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VTE','Viên Chăn')">
                    Viên Chăn (VTE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BKK','Băng Cốc')">
                    Băng Cốc (BKK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('KUL','Kuala Lumpur')">
                    Kuala Lumpur KUL()
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MNL','Manila')">
                    Manila (MNL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SIN','Singapore')">
                    Singapore (SIN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('RGN','Yangon')">
                    Yangon (RGN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('JKT','Jakarta')">
                    Jakarta (JKT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DPS','Denpasar Bali')">
                    Denpasar Bali (DPS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BOM','Mumbai')">
                    Mumbai (BOM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DEL','Delhi')">
                    Delhi (DEL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('KTM','Kathmandu')">
                    Kathmandu (KTM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('IST','Istanbul')">
                    Istanbul (IST)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DXB','Dubai')">
                    Dubai (DXB)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Âu</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_To('AMS','Amsterdam')">
                    Amsterdam (AMS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BCN','Barcelona')">
                    Barcelona (BCN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('FRA','Frankfurt')">
                    Frankfurt (FRA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('GVA','Geneva')">
                    Geneva (GVA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LON','London')">
                    London (LON)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LYS','Lyon')">
                    Lyon (LYS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MAD','Madrid')">
                    Madrid (MAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MRS','Mác-xây')">
                    Mác-xây (MRS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MPL','Montpellier')">
                    Montpellier (MPL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MOW','Mát-xờ-cơ-va')">
                    Mát-xờ-cơ-va (MOW)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NCE','Nice')">
                    Nice (NCE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PAR','Paris')">
                    Paris (PAR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PRG','Praha')">
                    Praha (PRG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ROM','Rome')">
                    Rome (ROM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('TLS','Toulouse')">
                    Toulouse (TLS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('VIE','Viên')">
                    Viên (VIE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CPH','Copenhagen')">
                    Copenhagen (CPH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('OSL','Oslo')">
                    Oslo (OSL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ZRH','Zurich')">
                    Zurich (ZRH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BCN','Barcelona')">
                    Barcelona (BCN)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Mỹ</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_To('ATL','Atlanta')">
                    Atlanta (ATL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('AUS','Austin')">
                    Austin (AUS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BOS','Boston')">
                    Boston (BOS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CHI','Chicago')">
                    Chicago (CHI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DFW','Dallas')">
                    Dallas (DFW)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DEN','Denver')">
                    Denver (DEN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HNL','Honolulu')">
                    Honolulu (HNL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LAX','Los Angeles')">
                    Los Angeles (LAX)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MIA','Miami')">
                    Miami (MIA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MSP','Minneapolis')">
                    Minneapolis (MSP)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('JFK','New York')">
                    New York (JFK)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PHL','Philadelphia')">
                    Philadelphia (PHL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PDX','Portland (Oregon)')">
                    Portland (Oregon) (PDX)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SFO','San Francisco')">
                    San Francisco (SFO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('SEA','Seattle')">
                    Seattle (SEA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('STL','St Louis')">
                    St Louis (STL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('YVR','Vancouver')">
                    Vancouver (YVR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('WAS','Washington')">
                    Washington (WAS)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix "></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Đại Dương</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_To('SYD','Sydney')">
                    Sydney (SYD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MEL','Men-bơn')">
                    Men-bơn (MEL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DRW','Darwin')">
                    Darwin (DRW)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('OOL','Gold Coast')">
                    Gold Coast (OOL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ADL','Adelaide')">
                    Adelaide (ADL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CNS','Cairns')">
                    Cairns (CNS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HBA','Hobart')">
                    Hobart (HBA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PER','Perth')">
                    Perth (PER)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NAN','Nadi')">
                    Nadi (NAN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('AKL','Auckland')">
                    Auckland (AKL)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('WLG','Wellington')">
                    Wellington (WLG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DUD','Dunedin')">
                    Dunedin (DUD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('BNE','Brisbane')">
                    Brisbane (BNE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CBR','Canberra')">
                    Canberra (CBR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('PPT','Papeete')">
                    Papeete (PPT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MEL','Men-bơn')">
                    Men-bơn (MEL)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="title2 clearfix">
            <div class="title seachpl">Châu Phi</div>
            <div class="clear-fix"></div>
            <ul style="padding: 0px;">
                <li class="seachpl" onclick="addGeoAirPort_To('NBO','Cairo')">
                    Cairo (CAI)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LXR','Luxor')">
                    Luxor (LXR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LOS','Lagos')">
                    Lagos (LOS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ADD','Addis Ababa')">
                    Addis Ababa (ADD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CAS','Casablanca')">
                    Casablanca (CAS)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('HRE','Harare')">
                    Harare (HRE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MPM','Maputo')">
                    Maputo (MPM)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('JNB','Johannesburg')">
                    Johannesburg (JNB)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LAD','Luanda')">
                    Luanda (LAD)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('KRT','Khartoum')">
                    Khartoum (KRT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DUR','Durban')">
                    Durban (DUR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('YAO','Yaounde')">
                    Yaounde (YAO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DLA','Douala')">
                    Douala (DLA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('CPT','Cape Town')">
                    Cape Town (CPT)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('MRU','Mauritius')">
                    Mauritius (MRU)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ACC','Accra')">
                    Accra (ACC)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('TUN','Tuynidi')">
                    Tuynidi (TUN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('GBE','Gaborone')">
                    Gaborone (GBE)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('FNA','Freetown')">
                    Freetown (FNA)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('NBO','Nairobi')">
                    Nairobi (NBO)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('DAR','Dar es Salaam')">
                    Dar es Salaam (DAR)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ALG','Alger')">
                    Alger (ALG)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('LUN','Lusaka')">
                    Lusaka (LUN)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('FIH','Kinshasa')">
                    Kinshasa (FIH)
                </li>
                <li class="seachpl" onclick="addGeoAirPort_To('ABJ','Abidjan')">
                    Abidjan (ABJ)
                </li>
            </ul>
            <div class="clear-fix"></div>
        </div>

    </div>
    <div id="tabs-return" class="hidden-xs">
        <ul>
            <li><a href="#tabs-1">Việt Nam</a></li>
            <li><a href="#tabs-top-dest-start">Điểm đến nổi bật</a></li>
            <li><a href="#tabs-2">Châu Á</a></li>
            <li><a href="#tabs-3">Châu Âu</a></li>
            <li><a href="#tabs-4">Châu Mỹ</a></li>
            <li><a href="#tabs-5">Châu Đại Dương</a></li>
            <li><a href="#tabs-6">Châu Phi</a></li>
        </ul>
        <div id="tabs-top-dest-start">
            <ul class="city-list">
                <li onclick="addGeoAirPort_To('HAN','Hà Nội')">
                    Hà Nội (HAN)
                </li>
                <li onclick="addGeoAirPort_To('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
                <li onclick="addGeoAirPort_To('DAD','Đà Nẵng')">
                    Đà Nẵng (DAD)
                </li>
                <li onclick="addGeoAirPort_To('CXR','Nha Trang')">
                    Nha Trang (CXR)
                </li>
                <li onclick="addGeoAirPort_To('HKG','Hồng Kông')">
                    Hồng Kông (HKG)
                </li>
                <li onclick="addGeoAirPort_To('MFM','Macau')">Macau (MFM)</li>
                <li onclick="addGeoAirPort_To('SHA','Thượng Hải')">
                    Thượng Hải (SHA)
                </li>
                <li onclick="addGeoAirPort_To('CAN','Quảng Châu')">
                    Quảng Châu (CAN)
                </li>
                <li onclick="addGeoAirPort_To('TPE','Đài Bắc')">
                    Đài Bắc (TPE)
                </li>
                <li onclick="addGeoAirPort_To('ICN','Seoul')">
                    Seoul (ICN)
                </li>
                <li onclick="addGeoAirPort_To('PUS','Pusan')">
                    Pusan (PUS)
                </li>
                <li onclick="addGeoAirPort_To('NRT','Tokyo Narita')">
                    Tokyo Narita (NRT)
                </li>
                <li onclick="addGeoAirPort_To('NGO','Nagoya')">
                    Nagoya (NGO)
                </li>
                <li onclick="addGeoAirPort_To('SIN','Singapore')">
                    Singapore (SIN)
                </li>
                <li onclick="addGeoAirPort_To('BKK','Băng Cốc')">
                    Băng Cốc (BKK)
                </li>
                <li onclick="addGeoAirPort_To('MNL','Manila')">
                    Manila (MNL)
                </li>
                <li onclick="addGeoAirPort_To('LON','London')">
                    London (LON)
                </li>
                <li onclick="addGeoAirPort_To('PAR','Paris')">
                    Paris (PAR)
                </li>
                <li onclick="addGeoAirPort_To('SYD','Sydney')">
                    Sydney (SYD)
                </li>
                <li onclick="addGeoAirPort_To('FRA','Frankfurt')">
                    Frankfurt (FRA)
                </li>
                <li onclick="addGeoAirPort_To('JFK','New York')">
                    New York (JFK)
                </li>
                <li onclick="addGeoAirPort_To('LAX','Los Angeles')">
                    Los Angeles (LAX)
                </li>
                <li onclick="addGeoAirPort_To('YVR','Vancouver')">
                    Vancouver (YVR)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="tabs-1">
            <ul class="city-list">
                <li class="region"><strong>MIỀN BẮC</strong></li>
                <li onclick="addGeoAirPort_To('HAN','Hà Nội')">
                    Hà Nội (HAN)
                </li>
                <li onclick="addGeoAirPort_To('HPH','Hải Phòng')">
                    Hải Phòng (HPH)
                </li>
                <li onclick="addGeoAirPort_To('DIN','Điện Biên Phủ')">
                    Điện Biên Phủ (DIN)
                </li>
                <li class="region"><strong>MIỀN NAM</strong></li>
                <li onclick="addGeoAirPort_To('SGN','Hồ Chí Minh')">
                    Hồ Chí Minh (SGN)
                </li>
                <li onclick="addGeoAirPort_To('PQC','Phú Quốc')">
                    Phú Quốc (PQC)
                </li>
                <li onclick="addGeoAirPort_To('VCS','Côn Đảo')">
                    Côn Đảo (VCS)
                </li>
                <li onclick="addGeoAirPort_To('VCA','Cần Thơ')">
                    Cần Thơ (VCA)
                </li>
                <li onclick="addGeoAirPort_To('CAH','Cà Mau')">
                    Cà Mau (CAH)
                </li>
                <li onclick="addGeoAirPort_To('VKG','Rạch Giá')">
                    Rạch Giá (VKG)
                </li>
                <li class="region"><strong>MIỀN TRUNG</strong></li>
                <li onclick="addGeoAirPort_To('DAD','Đà Nẵng')">
                    Đà Nẵng (DAD)
                </li>
                <li onclick="addGeoAirPort_To('CXR','Nha Trang')">
                    Nha Trang (CXR)
                </li>
                <li onclick="addGeoAirPort_To('DLI','Đà Lạt')">
                    Đà Lạt (DLI)
                </li>
                <li onclick="addGeoAirPort_To('VII','Vinh')">
                    Vinh (VII)
                </li>
                <li onclick="addGeoAirPort_To('HUI','Huế')">
                    Huế (HUI)
                </li>
                <li onclick="addGeoAirPort_To('THD','Thanh Hóa')">
                    Thanh Hóa (THD)
                </li>
                <li onclick="addGeoAirPort_To('BMV','Ban Mê Thuật')">
                    Ban Mê Thuật (BMV)
                </li>
                <li onclick="addGeoAirPort_To('PXU','Pleiku')">
                    Pleiku (PXU)
                </li>
                <li onclick="addGeoAirPort_To('UIH','Quy Nhơn')">
                    Quy Nhơn (UIH)
                </li>
                <li onclick="addGeoAirPort_To('VDH','Đồng Hới')">
                    Đồng Hới (VDH)
                </li>
                <li onclick="addGeoAirPort_To('TBB','Tuy Hòa')">
                    Tuy Hòa (TBB)
                </li>
                <li onclick="addGeoAirPort_To('VCL','Chu Lai')">
                    Chu Lai (VCL)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="tabs-2">
            <ul class="city-list">
                <li onclick="addGeoAirPort_To('BJS','Bắc Kinh')">
                    Bắc Kinh (BJS)
                </li>
                <li onclick="addGeoAirPort_To('CTU','Thành Đô')">
                    Thành Đô (CTU)
                </li>
                <li onclick="addGeoAirPort_To('CAN','Quảng Châu')">
                    Quảng Châu (CAN)
                </li>
                <li onclick="addGeoAirPort_To('SHA','Thượng Hải')">
                    Thượng Hải (SHA)
                </li>
                <li onclick="addGeoAirPort_To('HKG','Hồng Kông')">
                    Hồng Kông (HKG)
                </li>
                <li onclick="addGeoAirPort_To('TPE','Đài Bắc')">
                    Đài Bắc (TPE)
                </li>
                <li onclick="addGeoAirPort_To('KHH','Cao Hùng')">
                    Cao Hùng (KHH)
                </li>
                <li onclick="addGeoAirPort_To('ICN','Seoul')">
                    Seoul (ICN)
                </li>
                <li onclick="addGeoAirPort_To('PUS','Pusan')">
                    Pusan (PUS)
                </li>
                <li onclick="addGeoAirPort_To('FUK','Fukuoka')">
                    Fukuoka (FUK)
                </li>
                <li onclick="addGeoAirPort_To('NGO','Nagoya')">
                    Nagoya (NGO)
                </li>
                <li onclick="addGeoAirPort_To('OSA','Osaka')">
                    Osaka (OSA)
                </li>
                <li onclick="addGeoAirPort_To('HND','Tokyo Haneda')">
                    Tokyo Haneda (HND)
                </li>
                <li onclick="addGeoAirPort_To('NRT','Tokyo Narita')">
                    Tokyo Narita (NRT)
                </li>
                <li onclick="addGeoAirPort_To('LPQ','Luông pra băng')">
                    Luông pra băng (LPQ)
                </li>
                <li onclick="addGeoAirPort_To('PNH','Phnôm Pênh')">
                    Phnôm Pênh (PNH)
                </li>
                <li onclick="addGeoAirPort_To('REP','Siem Reap')">
                    Siem Reap (REP)
                </li>
                <li onclick="addGeoAirPort_To('VTE','Viên Chăn')">
                    Viên Chăn (VTE)
                </li>
                <li onclick="addGeoAirPort_To('BKK','Băng Cốc')">
                    Băng Cốc (BKK)
                </li>
                <li onclick="addGeoAirPort_To('KUL','Kuala Lumpur')">
                    Kuala Lumpur (KUL)
                </li>
                <li onclick="addGeoAirPort_To('MNL','Manila')">
                    Manila (MNL)
                </li>
                <li onclick="addGeoAirPort_To('SIN','Singapore')">
                    Singapore (SIN)
                </li>
                <li onclick="addGeoAirPort_To('RGN','Yangon, Myanmar')">
                    Yangon (RGN)
                </li>
                <li onclick="addGeoAirPort_To('JKT','Jakarta')">
                    Jakarta (JKT)
                </li>
                <li onclick="addGeoAirPort_To('DPS','Denpasar Bali')">
                    Denpasar Bali (DPS)
                </li>
                <li onclick="addGeoAirPort_To('BOM','Mumbai')">
                    Mumbai (BOM)
                </li>
                <li onclick="addGeoAirPort_To('DEL','Delhi')">
                    Delhi (DEL)
                </li>
                <li onclick="addGeoAirPort_To('KTM','Kathmandu')">
                    Kathmandu (KTM)
                </li>
                <li onclick="addGeoAirPort_To('IST','Istanbul')">
                    Istanbul (IST)
                </li>
                <li onclick="addGeoAirPort_To('DXB','Dubai')">
                    Dubai (DXB)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="tabs-3">
            <ul class="city-list">
                <li onclick="addGeoAirPort_To('AMS','Amsterdam')">
                    Amsterdam (AMS)
                </li>
                <li onclick="addGeoAirPort_To('BCN','Barcelona')">
                    Barcelona (BCN)
                </li>
                <li onclick="addGeoAirPort_To('FRA','Frankfurt')">
                    Frankfurt (FRA)
                </li>
                <li onclick="addGeoAirPort_To('GVA','Geneva')">
                    Geneva (GVA)
                </li>
                <li onclick="addGeoAirPort_To('LON','London')">
                    London (LON)
                </li>
                <li onclick="addGeoAirPort_To('LYS','Lyon')">
                    Lyon (LYS)
                </li>
                <li onclick="addGeoAirPort_To('MAD','Madrid')">
                    Madrid (MAD)
                </li>
                <li onclick="addGeoAirPort_To('MRS','Mác-xây')">
                    Mác-xây (MRS)
                </li>
                <li onclick="addGeoAirPort_To('MPL','Montpellier')">
                    Montpellier (MPL)
                </li>
                <li onclick="addGeoAirPort_To('MOW','Mát-xờ-cơ-va')">
                    Mát-xờ-cơ-va (MOW)
                </li>
                <li onclick="addGeoAirPort_To('NCE','Nice')">
                    Nice (NCE)
                </li>
                <li onclick="addGeoAirPort_To('PAR','Paris')">
                    Paris (PAR)
                </li>
                <li onclick="addGeoAirPort_To('PRG','Praha, Czech Republic')">
                    Praha (PRG)
                </li>
                <li onclick="addGeoAirPort_To('ROM','Rome')">
                    Rome (ROM)
                </li>
                <li onclick="addGeoAirPort_To('TLS','Toulouse')">
                    Toulouse (TLS)
                </li>
                <li onclick="addGeoAirPort_To('VIE','Viên')">
                    Viên (VIE)
                </li>
                <li onclick="addGeoAirPort_To('CPH','Copenhagen')">
                    Copenhagen (CPH)
                </li>
                <li onclick="addGeoAirPort_To('OSL','Oslo')">
                    Oslo (OSL)
                </li>
                <li onclick="addGeoAirPort_To('ZRH','Zurich')">
                    Zurich (ZRH)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="tabs-4">
            <ul class="city-list">
                <li onclick="addGeoAirPort_To('ATL','Atlanta')">
                    Atlanta (ATL)
                </li>
                <li onclick="addGeoAirPort_To('AUS','Austin')">
                    Austin (AUS)
                </li>
                <li onclick="addGeoAirPort_To('BOS','Boston')">
                    Boston (BOS)
                </li>
                <li onclick="addGeoAirPort_To('CHI','Chicago')">
                    Chicago (CHI)
                </li>
                <li onclick="addGeoAirPort_To('DFW','Dallas')">
                    Dallas (DFW)
                </li>
                <li onclick="addGeoAirPort_To('DEN','Denver')">
                    Denver (DEN)
                </li>
                <li onclick="addGeoAirPort_To('HNL','Honolulu')">
                    Honolulu (HNL)
                </li>
                <li onclick="addGeoAirPort_To('LAX','Los Angeles')">
                    Los Angeles (LAX)
                </li>
                <li onclick="addGeoAirPort_To('MIA','Miami')">
                    Miami (MIA)
                </li>
                <li onclick="addGeoAirPort_To('MSP','Minneapolis')">
                    Minneapolis (MSP)
                </li>
                <li onclick="addGeoAirPort_To('JFK','New York')">
                    New York (JFK)
                </li>
                <li onclick="addGeoAirPort_To('PHL','Philadelphia')">
                    Philadelphia (PHL)
                </li>
                <li onclick="addGeoAirPort_To('PDX','Portland (Oregon)')">
                    Portland (Oregon) (PDX)
                </li>
                <li onclick="addGeoAirPort_To('SFO','San Francisco')">
                    San Francisco (SFO)
                </li>
                <li onclick="addGeoAirPort_To('SEA','Seattle')">
                    Seattle (SEA)
                </li>
                <li onclick="addGeoAirPort_To('STL','St Louis')">
                    St Louis (STL)
                </li>
                <li onclick="addGeoAirPort_To('YVR','Vancouver')">
                    Vancouver (YVR)
                </li>
                <li onclick="addGeoAirPort_To('WAS','Washington')">
                    Washington (WAS)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="tabs-5">
            <ul class="city-list">
                <li onclick="addGeoAirPort_To('SYD','Sydney')">
                    Sydney (SYD)
                </li>
                <li onclick="addGeoAirPort_To('MEL','Men-bơn')">
                    Men-bơn (MEL)
                </li>
                <li onclick="addGeoAirPort_To('DRW','Darwin')">
                    Darwin (DRW)
                </li>
                <li onclick="addGeoAirPort_To('OOL','Gold Coast')">
                    Gold Coast (OOL)
                </li>
                <li onclick="addGeoAirPort_To('ADL','Adelaide')">
                    Adelaide (ADL)
                </li>
                <li onclick="addGeoAirPort_To('CNS','Cairns')">
                    Cairns (CNS)
                </li>
                <li onclick="addGeoAirPort_To('HBA','Hobart')">
                    Hobart (HBA)
                </li>
                <li onclick="addGeoAirPort_To('PER','Perth')">
                    Perth (PER)
                </li>
                <li onclick="addGeoAirPort_To('NAN','Nadi')">
                    Nadi (NAN)
                </li>
                <li onclick="addGeoAirPort_To('AKL','Auckland')">
                    Auckland (AKL)
                </li>
                <li onclick="addGeoAirPort_To('WLG','Wellington')">
                    Wellington (WLG)
                </li>
                <li onclick="addGeoAirPort_To('DUD','Dunedin')">
                    Dunedin (DUD)
                </li>
                <li onclick="addGeoAirPort_To('BNE','Brisbane')">
                    Brisbane (BNE)
                </li>
                <li onclick="addGeoAirPort_To('CBR','Canberra')">
                    Canberra (CBR)
                </li>
                <li onclick="addGeoAirPort_To('PPT','Papeete')">
                    Papeete (PPT)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="tabs-6">
            <ul class="city-list">
                <li onclick="addGeoAirPort_To('NBO','Cairo')">
                    Cairo (CAI)
                </li>
                <li onclick="addGeoAirPort_To('LXR','Luxor')">
                    Luxor (LXR)
                </li>
                <li onclick="addGeoAirPort_To('LOS','Lagos')">
                    Lagos (LOS)
                </li>
                <li onclick="addGeoAirPort_To('ADD','Addis Ababa')">
                    Addis Ababa (ADD)
                </li>
                <li onclick="addGeoAirPort_To('CAS','Casablanca')">
                    Casablanca (CAS)
                </li>
                <li onclick="addGeoAirPort_To('HRE','Harare')">
                    Harare (HRE)
                </li>
                <li onclick="addGeoAirPort_To('MPM','Maputo')">
                    Maputo (MPM)
                </li>
                <li onclick="addGeoAirPort_To('JNB','Johannesburg')">
                    Johannesburg (JNB)
                </li>
                <li onclick="addGeoAirPort_To('LAD','Luanda')">
                    Luanda (LAD)
                </li>
                <li onclick="addGeoAirPort_To('KRT','Khartoum')">
                    Khartoum (KRT)
                </li>
                <li onclick="addGeoAirPort_To('DUR','Durban')">
                    Durban (DUR)
                </li>
                <li onclick="addGeoAirPort_To('YAO','Yaounde')">
                    Yaounde (YAO)
                </li>
                <li onclick="addGeoAirPort_To('DLA','Douala')">
                    Douala (DLA)
                </li>
                <li onclick="addGeoAirPort_To('CPT','Cape Town')">
                    Cape Town (CPT)
                </li>
                <li onclick="addGeoAirPort_To('MRU','Mauritius')">
                    Mauritius (MRU)
                </li>
                <li onclick="addGeoAirPort_To('ACC','Accra')">
                    Accra (ACC)
                </li>
                <li onclick="addGeoAirPort_To('TUN','Tuynidi')">
                    Tuynidi (TUN)
                </li>
                <li onclick="addGeoAirPort_To('GBE','Gaborone')">
                    Gaborone (GBE)
                </li>
                <li onclick="addGeoAirPort_To('FNA','Freetown')">
                    Freetown (FNA)
                </li>
                <li onclick="addGeoAirPort_To('NBO','Nairobi')">
                    Nairobi (NBO)
                </li>
                <li onclick="addGeoAirPort_To('DAR','Dar es Salaam')">
                    Dar es Salaam (DAR)
                </li>
                <li onclick="addGeoAirPort_To('ALG','Alger')">
                    Alger (ALG)
                </li>
                <li onclick="addGeoAirPort_To('LUN','Lusaka')">
                    Lusaka (LUN)
                </li>
                <li onclick="addGeoAirPort_To('FIH','Kinshasa')">
                    Kinshasa (FIH)
                </li>
                <li onclick="addGeoAirPort_To('ABJ','Abidjan')">
                    Abidjan (ABJ)
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    $( function () {
        var tabs = $( "#tabs-return" ).tabs();
    } );
</script>

<script>
    function addGeoAirPort_To(code, name) {
        $("#txtEndPoint").val(name + '- (' + code + ')');
        $('#hdfEndPoint').val(code);
        $('#pnEndCity').hide();
        setTimeout(function () {
            $("#txtDepartureDate").datepickerlunar('show');
        }, 16);
        $('html,body').scrollTop(0);
    }
    function SearchAutoCompleteEndPointpopub() {
        $("#txtEndPointSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@System.Configuration.ConfigurationManager.AppSettings["SearchAirportInSiteUrl"]"+"?key="+ $("#txtEndPointSearch").val(),
                dataType: "json",
                success: function ( data ) {
                        response( $.map( data, function ( item ) {
                            var label = "<b>" + item.AirportName + " (" + item.AirportCode + ")</b> <b style='float:right;color:#FF6600;clear:both;white-space: nowrap;'>" + item.CountryName + "</b>"
                            var labeldisplay = item.AirportName + ", " + item.CountryName + " - (" + item.AirportCode + ")";
                            return { labeldisplay: labeldisplay, label: label, value: item.AirportCode };
                        } ) );
                    }
            });
    },
    select: function (event, ui) {

        $('#hdfEndPoint').val(ui.item.value);
        $('#hdfEndPointValue').val(ui.item.value);
        $("#txtEndPoint").val(ui.item.labeldisplay);
        $('#pnEndCity').css('display', 'none');
        $('#txtStartPointSearch').val('');
        $("#txtDepartureDate").datepicker('show');
        $('html,body').scrollTop(0);
    },
    minLength: 3
    });
    }

    $(document).ready(function() {
        SearchAutoCompleteEndPointpopub();
    });
</script>