@{
    Layout = null;
}
<div class="container" style="text-align: center">
    <h2 style="text-align: center; color: #0000FF;">ĐƠN HÀNG NÀY ĐÃ ĐƯỢC THANH TOÁN</h2>
    <h4 style="text-align: center; color: #0000FF;">Cám ơn bạn đã đặt vé tại Timvenhanh.com</h4>
    <a href="/"> TIẾP TỤC MUA VÉ</a><br>
    <b><a href="/"> TRANG CHỦ</a></b><h2 style="text-align: center; color: #0000FF;">XÁC NHẬN THANH TOÁN THÀNH CÔNG</h2>
</div>
