@using VDMMutiline.Ultilities
@model List<VDMMutiline.SharedComponent.EntityInfo.TblArticleInfo>
@{
    Layout = null;
}
<div class="row" style="    display: block;vertical-align: top;">
    <div class="container">
        <div class="col-md-12">
            <div class="title-h1" style="   ">
                <h3 class="tieude-vh">
                    <a href="#">ĐỐI TÁC QUAN TRỌNG  </a>
                </h3>
                <p style="text-align: center;">
                    <img style="float: none;" src="/Content/FontEnd/VDM/theme/image/iline.png" alt="iline" />
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class=" wellslide" style="position: relative;">
                <div id="owl-Doitac" class="owl-carousel owl-theme" style="position: relative;width: 100%;padding-left: 15px;padding-right: 15px;">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12" style="width: 100%;padding-left: 5px;padding-right: 5px;">
                            <img src="@item.Thumb" class="img-responsive" style="width: 100%;">
                        </div>
                    }
                </div>
                <a id="prevowlDoitac" class="btn prev">
                    <img src='/Content/FontEnd/VDM/theme/image/pre.png' />
                </a>

                <a id="nexowlDoitac" class="right btn next" style="float: right;">
                    <img src='/Content/FontEnd/VDM/theme/image/next.png' />
                </a>
            </div>

            <script>
                $(document).ready(function () {
                    var owlDoitac = $("#owl-Doitac");
                    owlDoitac.owlCarousel({
                        items: 5,
                        itemsDesktop: [1000, 5],
                        itemsDesktopSmall: [900, 5],
                        itemsTablet: [600, 2],
                        itemsMobile: true,

                        nav: true,
                        autoPlaySpeed: 5000,
                        navigation: false,
                        navigationText: ["prev", "next"],
                        rewindNav: true,
                        scrollPerPage: true,
                    });
                    $("#nexowlDoitac").click(function () {
                        owlDoitac.trigger('owl.next');
                    });
                    $("#prevowlDoitac").click(function () {
                        owlDoitac.trigger('owl.prev');
                    });
                });
            </script>
            <style>
                a#prevowlDoitac {
                    position: absolute;
                    top: 31%;
                    font-size: 30px;
                    left: -10px;
                    color: #999;
                }

                a#nexowlDoitac {
                    position: absolute;
                    top: 31%;
                    right: -10px;
                    font-size: 30px;
                    color: #999;
                }
            </style>
        </div>
    </div>
</div>
