<div class="dock useDragable hidden-xs hidden-sm ui-draggable ui-draggable-handle">
    <div id="dockWrapper" style="margin-top: 0px; opacity: 0;">
        <a href="#" class="btn_hide_dock" title="Ẩn thanh menu ngang">
            <i class="ion-ios-close-empty"></i>
        </a>
        <div class="cap left"></div>
        <div class="dock_icons">
            <div class="dock_icon">
                <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tài liệu chia sẻ">
                    <img alt="reminders" src="/content/icons/docks_icon_2.png">
                </a>
            </div>
            <div class="dock_icon">
                <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quy trình - Công việc">
                    <img alt="contacts" src="/content/icons/docks_icon_7.png">
                </a>
            </div>
            <div class="dock_icon">
                <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quản lý danh mục">
                    <img alt="App Store" src="/content/icons/docks_icon_4.png">
                </a>
            </div>
            <div class="dock_icon">
                <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quản trị hệ thống">
                    <img alt="mail" src="/content/icons/docks_icon_6.png">
                </a>
            </div>

        </div>
    </div>
</div>
<div class="toggle_dock is_hidden" style="opacity: 1; transition: all 0.3s; transform: scale(1);">
    <div class="toggle_dock_content">
        <div class="toggle_dock_open_icon">
            <a href="#" class="btn_show_dock" title="Hiện thanh menu ngang">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>