@{
    Layout = null;
}


@using (Html.BeginForm("SubmitMail", "Home", FormMethod.Post, new { @class = "newsletter-form", @data_parsley_validate = "", id = "frCreate", @role = "form" }))
{
    <div class="col-md-12">
        <p style="color: #000;margin-top: 2px;font-size: 18px;    text-align: center;">Đăng ký nhận tin khuyến mãi ngay để không bỏ lỡ các ưu đãi hấp dẫn mới nhất từ alobayngay.com!</p>
    </div>
    <div class="col-md-12 clear-0px" style="    text-align: center;">
        <div style="padding:5px 0px;display:inline-block;" class="cf_row">
            <span><input name="sendMail" placeholder="Email của bạn" onfocus="if(this.value=='')this.value=''" class="input_form_tuychinh" id="sendMail" type="text" style="vertical-align:middle;width:400px;height:40px" value=""></span>
        </div>
        <input type="submit" style="margin-left:0px;    background-color: #1BA0E2;
    border: 0;
    height: 39px;
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;" id="btnSubcrible" value="ĐĂNG KÝ">
    </div>

}

